@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAccountant.Models.AddToKTSCDTO
@{
    Html.RenderPartial("../Home/Header");
}
<div id="bground">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content mua-page">
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex t-s-14">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navSell" aria-controls="navSell" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navSell">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active t-s-16" id="data-link" aria-current="page" href="#">Danh sách</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <div class="d-flex justify-content-between width-150" style="margin-left:20px;">
                                <label for="date-from" class="col-form-label weight-600">Từ:</label>
                                <input id="date-from" class="form-control width-pt-75 t-s-13 height-30" type="date" />
                            </div>
                            <div class="d-flex justify-content-between width-150" style="margin-right:15px; margin-left:15px">
                                <label for="date-to" class="col-form-label weight-600">Đến:</label>
                                <input id="date-to" class="form-control width-pt-75 t-s-13 height-30" type="date" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary height-30 t-s-13 width-80" onclick="confirmDate()">Xác nhận</button>
                            </div>
                            <div class="d-flex justify-content-center" style="margin-left:10px">
                                <button type="button" class="btn btn-secondary height-30 t-s-13 width-80" onclick="resetDate()">Cài lại</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success height-30 t-s-13 width-80" id="themBtn" onclick="orderOut()" type="button">
                            Thêm
                        </button>
                        <button class="btn btn-primary height-30 t-s-13 width-80 d-none" id="backBtn" onclick="backList()" type="button">
                            Quay lại
                        </button>
                    </div>
                </div>
            </nav>
            <div id="mua-data">
                <div class="table-data">
                    <table id="data-tb" class="table-text text-menu">
                        <tr id="tr-1">
                            <td>Ngày chứng từ</td>
                            <td>Số chứng từ</td>
                            <td>Hình thức thanh toán</td>
                            <td>Thành tiền</td>
                            <td>CkPhantram</td>
                            <td>Chiết khấu thành tiền</td>
                            <td>Tổng tiền</td>
                            <td>Khtratien</td>
                            <td>Mã khách hàng</td>
                            <td>Tên khách hàng</td>
                            <td>Mã số thuế</td>
                            <td>Địa chỉ</td>
                            <td>Ghi chú</td>
                            <td>Nhân viên bán</td>
                        </tr>
                        <tr>
                            <td colspan="14" class="text-center" style="height:200px">Data đang được tải lên...</td>
                        </tr>
                    </table>
                </div>
                <div id="rightMenu" style="display: none; position: absolute;">
                    <ul>
                        <li class="nav-item"><a class="btn" href="#" id="sua">Sửa</a></li>
                        <li class="nav-item"><a class="btn" href="#" id="xoa">Xóa</a></li>
                    </ul>
                </div>

                <div class="footer-data d-flex justify-content-end">
                    <button class="btn btn-primary width-100" type="button" onclick="edit()">Sửa</button>
                    <button class="btn btn-primary width-100" type="button" onclick="xoaOrder()">Xóa</button>
                    <button class="btn btn-primary width-100" type="button" onclick="inOrder()">In</button>
                    <button class="btn btn-primary" type="button">Xuất hóa đơn</button>
                </div>
            </div>
            <div id="edit-page" class="d-none"></div>
            <form id="myForm" class="d-none" asp-controller="Ktdms" asp-action="SubmitBuyCartToSave">
                <div class="top-content">
                    @*Content*@
                    <div class="row">
                        @*Forms*@
                        <div class="mua-form col-8">
                            @*Phieu nhap*@
                            <div id="phieu-nhap" class="row">
                                <div id="infor-phieu-nhap" class="col-9">
                                    <div class="row">
                                        <div class="col-4 col-num-1 pb-3">
                                            <div class=" text-start">
                                                <label for="input-makh" class="col-form-label">Mã khách hàng:</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="width-pt-80">
                                                    <input type="text"
                                                           class="form-control input-sugg"
                                                           id="input-makh"
                                                           autofocus="autofocus"
                                                           autocomplete="off"
                                                           asp-for="Makh"
                                                           onkeyup="SearchNow('list-makh-sugg','input-makh','list-makh-sugg')" />
                                                    <span class="error-msg" asp-validation-for="Makh"></span>
                                                    </div>
                                                    <div class="height-30 width-pt-15" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <svg class="add-kh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="green" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" /></svg>
                                                    </div>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl">
                                                            <div class="modal-content add-kh-form">
                                                                <div class="add-kh-form-header d-flex justify-content-between">
                                                                    <h6 class="modal-title main-color" id="exampleModalLabel">Thêm khách hàng</h6>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="add-kh-form-body">
                                                                    <div class="main-body row">
                                                                        <div class="col-3">
                                                                            <div class=" text-start">
                                                                                <label for="makh-add" class="col-form-label">Mã khách hàng:</label>
                                                                                <input type="text"
                                                                                       id="makh-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                            <div class=" text-start">
                                                                                <label for="msdn-add" class="col-form-label">Mã số doanh nghiệp:</label>
                                                                                <input type="text"
                                                                                       id="msdn-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <div class=" text-start">
                                                                                <label for="tenkh-add" class="col-form-label">Tên khách hàng:</label>
                                                                                <input type="text"
                                                                                       id="tenkh-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                            <div class=" text-start">
                                                                                <label for="dc-add" class="col-form-label">Địa chỉ:</label>
                                                                                <input type="text"
                                                                                       id="dc-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class=" text-start">
                                                                                <label for="dt-add" class="col-form-label">Số điện thoại:</label>
                                                                                <input type="text"
                                                                                       id="dt-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="add-kh-form-footer d-flex justify-content-end">
                                                                    <button type="button" class="t-s-13 btn btn-outline-secondary mar-5" data-bs-dismiss="modal">Đóng</button>
                                                                    <button type="button" class="t-s-13 btn btn-outline-success mar-5">Lưu</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-container">
                                                    <table id="list-makh-sugg" class="sugg-container d-none">
                                                        <tr id="tr-1">
                                                            <td class="width-120">Mã khách hàng</td>
                                                            <td class="width-250">Tên khách hàng</td>
                                                            <td class="width-120">Mã số doanh nghiệp</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class=" text-start">
                                                <label for="masodn" class="col-form-label">Mã số doanh nghiệp:</label>
                                                <input type="text" class="form-control" id="masodn" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="input-manv" class="col-form-label">Mã nhân viên:</label>
                                                <input type="text"
                                                       class="form-control input-sugg"
                                                       id="input-manv"
                                                       autofocus="autofocus"
                                                       onkeyup="SearchNow('list-manv-sugg','input-manv','list-manv-sugg')" />
                                                <div class="table-container">
                                                    <table id="list-manv-sugg" class="sugg-container d-none">
                                                        <tr id="tr-1">
                                                            <td class="width-120">Mã nhân viên</td>
                                                            <td class="width-250">Tên nhân viên</td>
                                                            <td class="width-120">Tên phòng ban</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class=" text-start">
                                                <label for="tennv" class="col-form-label">Tên nhân viên:</label>
                                                <input type="text" class="form-control" id="tennv" readonly>
                                            </div>
                                        </div>
                                        <div class="col-8 pb-3">
                                            <div class=" text-start">
                                                <label for="tenkh" class="col-form-label">Tên khách hàng:</label>
                                                <input type="text" class="form-control" id="tenkh" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="dc" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="dc" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="diengiai" class="col-form-label">Diễn giải:</label>
                                                <input type="text" class="form-control" id="diengiai">
                                            </div>
                                            <div class=" text-start">
                                                <label for="ck" class="col-form-label">Chiết khấu cho tất cả (%):</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="number" class="form-control width-pt-80" id="ckChung" min="0" max="100" asp-for="PtChietKhau">
                                                    <button class="btn btn-primary b-radius-3 height-30 t-s-12 width-pt-15" type="button" onclick="onCkChung()">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="id-phieu-nhap" class="col-3 col-num-2">
                                    <div class=" text-start">
                                        <label for="ht" class="col-form-label">Ngày hóa đơn</label>
                                        <input type="datetime-local" class="form-control" asp-for="NgayHToan" id="ht" value="@DateTime.UtcNow.AddHours(7).ToString("s")">
                                        <input type="datetime-local" class="form-control" asp-for="NgayCtu" id="ht" value="@DateTime.UtcNow.AddHours(7).ToString("s")" hidden>
                                    </div>
                                    <div class=" text-start">
                                        <label for="sohd" class="col-form-label">Số hóa đơn:</label>
                                        <input type="text" class="form-control" id="sohd" readonly>
                                    </div>
                                    <div class=" text-start">
                                        <label for="sosr" class="col-form-label">Số seri:</label>
                                        <input type="text" class="form-control" id="sosr" readonly>
                                    </div>
                                    <div class=" text-start">
                                        <label for="httt" class="col-form-label">Hình thức thanh toán</label>
                                        <select class="form-select b-radius-3 height-30 width-pt-100 t-s-12" asp-for="HthucThanhToan">
                                            <option value="1">Thanh toán trực tiếp</option>
                                            <option value="2">Nợ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Tong tien*@
                        <div class="col-4 bill d-flex flex-column">
                            <div class="bill-title">Hóa đơn</div>
                            <div id="bill-list" class="bill-list d-flex flex-column">
                                <div style="padding-top:5px" class="bill-menu d-flex justify-content-between">
                                    <div class="t-s-12">Tên danh mục</div>
                                    <div class="t-s-12">Số lượng</div>
                                </div>
                                <div id="list-p" class="bill-content">
                                    
                                </div>
                            </div>
                            <div class="so-tien d-flex justify-content-between mt-auto t-s-16">
                                <div >Tổng tiền: </div>
                                <div id="tongtien">0</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                    @*List product *@
                    <div class="table-dm">
                        <table id="list-dm" class="table-text">
                            <tr class="table-menu" id="tr-1">
                                <th class="t-center width-20">#</th>
                                <th class="width-150 resize-em"><div>Mã mặt hàng</div></th>
                                <th class="width-300 resize-em"><div>Tên mặt hàng</div></th>
                                <th class="width-70 resize-em"><div>Đơn vị</div></th>
                                <th class="width-120 resize-em"><div>Đơn giá</div></th>
                                <th class="width-70 resize-em"><div>Số lượng</div></th>
                                <th class="width-100 resize-em"><div>Chiết khấu (%)</div></th>
                                <th class="width-120 resize-em"><div>Chiết khấu (VND)</div></th>
                                <th class="width-70 resize-em"><div>Thuế (%)</div></th>
                                <th class="width-90 resize-em"><div>Thuế (VND)</div></th>
                                <th class="width-120 resize-em"><div>Thành tiền</div></th>
                                <th class="width-90 resize-em"><div>Hành động</div></th>
                            </tr>
                            <tr id="tr1">
                                <td class="t-center td-index">1</td>
                                <td>
                                    <input type="text"
                                           class="form-control input-sugg"
                                           id="input-madm-1"
                                           autofocus="autofocus"
                                           autocomplete="off"
                                           placeholder="Nhập mặt hàng..."
                                           asp-for="ktdmDTOs[0].Madm"
                                           onkeyup="SearchNow('list-madm-sugg-1','input-madm-1','list-madm-sugg-1')" />
                                    <div class="table-container">
                                        <table id="list-madm-sugg-1" class="sugg-container d-none">
                                            <tr id="tr-1">
                                                <td class="width-120">Mã danh mục</td>
                                                <td class="width-250">Tên danh mục</td>
                                                <td class="width-90">Số lượng tồn</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div id="ip-tendm-1"> </div>
                                    <input type="text" class="form-control" id="input-tendm-1" asp-for="ktdmDTOs[0].Tendm" hidden readonly />
                                    <input type="text" class="form-control" id="input-matk-1" asp-for="ktdmDTOs[0].Matk" hidden readonly />
                                </td>
                                <td><input type="text" class="form-control" id="input-donvi-1" asp-for="ktdmDTOs[0].Donvi" readonly /></td>
                                <td><input type="number" class="form-control" id="input-dongia-1" asp-for="ktdmDTOs[0].Dgban" min="0" onchange="tinhTien(1)" /></td>
                                <td><input type="number" class="form-control" id="input-soluong-1" asp-for="ktdmDTOs[0].Soluong" min="1" onchange="tinhTien(1)" /></td>
                                <td><input type="number" class="form-control" id="input-ck-1" asp-for="ktdmDTOs[0].PtChietKhau" min="0" max="100" onchange="tinhTien(1)" /></td>
                                <td><input type="number" class="form-control" id="input-ck-vnd-1" asp-for="ktdmDTOs[0].PtChietKhau" min="0" onchange="lamTron(1)" /></td>
                                <td><input type="number" class="form-control" id="input-thue-1" asp-for="ktdmDTOs[0].PtThue" min="0" max="100" onchange="tinhTien(1)" /></td>
                                <td><input type="number" class="form-control" id="input-thue-vnd-1" asp-for="ktdmDTOs[0].PtThue" min="0" onchange="lamTron(1)" /></td>
                                <td><input type="text" class="form-control" id="input-thanhtien-1" readonly /></td>
                                <td class="t-center"><a onClick="xoaDm('tr1')" class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td>
                            </tr>
                        </table>
                    </div>
                    <span asp-validation-for="ktdmDTOs"></span>
                    <div class="buttons d-flex justify-content-between mar-5">
                        <div>
                            <button class="btn btn-success t-s-12 height-30" id="addDm" onclick="themDm()" type="button">Thêm mặt hàng</button>
                            <button class="btn btn-danger t-s-12 height-30" onclick="xoaHet()" type="button">Xóa hết</button>
                        </div>
                        <div>
                            <button class="btn btn-warning t-s-12 height-30" id="exportBill" onclick="exportPDF()" type="button">Xuất hóa đơn</button>
                            <button class="btn btn-primary t-s-12 height-30" id="saveButton" type="submit">Lưu đơn bán</button>
                        </div>
                    </div>




                    
                </div>
            </form>
            
            <script type="text/javascript">
                let count = 1;
                let index = 1;
                var exist = [];
                exist.push(1);
                var data = [];
                var madmItems = []
                var element;

                let ptCkChung = 0;
                let isCkChung = false;

                ////FUNCTION///////////////////////////////
                function getDataGridInstance() {
                    let element = $("#grid-container");
                    return DevExpress.ui.dxDataGrid.getInstance(element);
                }
                async function save() {
                    $("#grid-container div [role='button']")[0].click();
                    // $("#saveButton").after(`<button type="button" onclick="Submit()">Mua sản phẩm</button>`)
                }
                function tinhTien(rowIndex) {
                    var sl = document.getElementById("input-soluong-" + rowIndex).value;
                    var dgia = $(`#input-dongia-${rowIndex}`)[0].value;
                    var ck = $(`#input-ck-${rowIndex}`)[0].value;
                    var thue = $(`#input-thue-${rowIndex}`)[0].value;
                    for (let i = 0; i < madmItems.length; i++) {
                        var tr = document.getElementById("tr" + rowIndex);
                        if (madmItems[i].trId == ("tr" + rowIndex)) {
                            madmItems[i].Soluong = parseInt(sl);
                            madmItems[i].Dgban = parseInt(dgia);
                            madmItems[i].PtChietkhau = parseInt(ck);
                            madmItems[i].PtThue = parseInt(thue);
                            // Gắn giá trị vào các thẻ <td>
                            var ckVnd = madmItems[i].Soluong * madmItems[i].Dgban * madmItems[i].PtChietkhau / 100;
                            tr.querySelector('#input-ck-vnd-' + rowIndex).value = parseFloat(ckVnd).toFixed(0);
                            var thueVnd = madmItems[i].Soluong * (madmItems[i].Dgban * (1 - madmItems[i].PtChietkhau / 100)) * madmItems[i].PtThue / 100;
                            tr.querySelector('#input-thue-vnd-' + rowIndex).value = parseFloat(thueVnd).toFixed(0);
                            var thanhtien = madmItems[i].Soluong * (madmItems[i].Dgban * (1 - madmItems[i].PtChietkhau / 100)) * (1 + madmItems[i].PtThue / 100);
                            tr.querySelector('#input-thanhtien-' + rowIndex).value = parseFloat(thanhtien).toFixed(0);
                            break;
                        }
                    }
                    loadBill();
                }
                function lamTron(rowIndex) {
                    var sl = document.getElementById("input-soluong-" + rowIndex).value;
                    var dgia = $(`#input-dongia-${rowIndex}`)[0].value;
                    var tr = document.getElementById("tr" + rowIndex);
                    var ckVnd = tr.querySelector('#input-ck-vnd-' + rowIndex).value;
                    var thueVnd = tr.querySelector('#input-thue-vnd-' + rowIndex).value;
                    var thanhtien = parseFloat(sl).toFixed(0) * parseFloat(dgia).toFixed(0) - parseFloat(ckVnd).toFixed(0);
                    thanhtien = parseFloat(parseFloat(thanhtien).toFixed(0)) + parseFloat(parseFloat(thueVnd).toFixed(0));
                    tr.querySelector('#input-thanhtien-' + rowIndex).value = parseFloat(thanhtien).toFixed(0);
                    loadBill();
                }

                async function selection_changed(selectedItems) {
                    var dataGrid = getDataGridInstance();
                    data = selectedItems.selectedRowsData;
                }

               
                function Updated() {
                }
                
                function SearchNow(idSugg, idInput, idUl) { 
                    document.getElementById(idSugg).classList.remove("d-none");
                    // Declare variables
                    var input, filter, ul, li, a, i, txtValue;
                    input = document.getElementById(idInput);
                    filter = input.value.toUpperCase();
                    ul = document.getElementById(idUl);
                    li = ul.getElementsByTagName('li');

                    var table = document.getElementById(idSugg);
                    var tr = table.getElementsByTagName('tr');
                    for (i = 1; i < tr.length; i++) {
                        tdMa = tr[i].getElementsByTagName("td")[0];
                        maValue = tdMa.textContent || tdMa.innerText;
                        tdTen = tr[i].getElementsByTagName("td")[1];
                        tenValue = tdTen.textContent || tdTen.innerText;
                        if (maValue.toUpperCase().indexOf(filter) > -1 || tenValue.toUpperCase().indexOf(filter) > -1) {
                            var isNone = false;
                            for (let u = 0; u < madmItems.length; u++) {
                                if (maValue.toUpperCase() == madmItems[u].Madm.toUpperCase()) {
                                    tr[i].style.display = "none";
                                    isNone = true;
                                    break;
                                }
                            }
                            if (!isNone) tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
                var madm = [
                        {
                        Madm :"",
                        Tendm: "",
                        TonT:""
                        }
                    ];
                $.ajax({
                    url: '@Url.Action("Get", "Ktdms")',
                    type: 'GET',
                    success: function (result) {
                        if (result.data.length > 0) {
                            madm = result.data;
                            for (var i = 0; i < madm.length; i++) {
                                const list = document.getElementById("list-madm-sugg-" + count);
                                list.insertAdjacentHTML('beforeend', `
                                                <tr class="tr-sugg" onclick="madmChooseItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                `);
                            }
                        }
                    }
                });
                
                function madmChooseItem(id, item){
                    hide_sugg("list-madm-sugg-"+id[2]);
                    var chietkhau = 0;
                    if (isCkChung == true) chietkhau = ptCkChung;
                    var addItem = JSON.parse(decodeURIComponent(item));
                    var madmDTO = {
                        Matk: addItem.Matk,
                        Madm: addItem.Madm,
                        Tendm: addItem.Tendm,
                        Donvi: addItem.Donvi,
                        Soluong: 1,
                        Dgban: 0,
                        TonTDv1: addItem.TonTDv1,
                        PtChietkhau: chietkhau,
                        PtThue: 0,
                        trId: id,
                    }

                    var dmindex = id[2];
                    var isExist = false;
                    for (let i = 0; i < madmItems.length; i++) {
                        if (madmItems[i].trId[2] == dmindex) {
                            isExist = true;
                            dmindex = i;
                            break;
                        }
                    }
                    if (!isExist) {
                        madmItems.push(madmDTO);
                    }
                    else {
                        madmItems[dmindex] = madmDTO;
                    }
                    
                    var numId = id[2];     
                    // Lấy thẻ <tr> có id là "tr1"
                    var tr = document.getElementById(id);
                    // Gắn giá trị vào các thẻ <td>
                    tr.querySelector('#ip-tendm-' + id[2]).textContent = JSON.parse(decodeURIComponent(item)).Tendm;
                    tr.querySelector('#input-matk-' + id[2]).value = JSON.parse(decodeURIComponent(item)).Matk;
                    tr.querySelector('#input-madm-' + id[2]).value = JSON.parse(decodeURIComponent(item)).Madm;
                    tr.querySelector('#input-tendm-' + id[2]).value = JSON.parse(decodeURIComponent(item)).Tendm;
                    tr.querySelector('#input-donvi-' + id[2]).value = JSON.parse(decodeURIComponent(item)).Donvi;
                    tr.querySelector('#input-dongia-' + id[2]).value = 0;
                    tr.querySelector('#input-soluong-' + id[2]).value = 1;
                    tr.querySelector('#input-thanhtien-' + id[2]).value = 0;
                    tr.querySelector('#input-ck-' + id[2]).value = chietkhau;
                    tr.querySelector('#input-ck-vnd-' + id[2]).value = chietkhau;
                    tr.querySelector('#input-thue-' + id[2]).value = 0;
                    tr.querySelector('#input-thue-vnd-' + id[2]).value = 0;
                    loadBill();
                }
                function loadBill(){
                    var listP = document.getElementById("list-p");
                    var divs = listP.getElementsByClassName("pro");
                    while (divs.length > 0) {
                        divs[0].parentNode.removeChild(divs[0]);
                    }
                    var tongtien = 0;
                    for (let i = 0; i < madmItems.length; i++) {
                        var numId = exist[i];
                        var name = madmItems[i].Tendm;
                        var num = madmItems[i].Soluong;
                        listP.insertAdjacentHTML('beforeend', `
                                             <div id="p${numId}" class="pro d-flex justify-content-between">
                                                        <div id="name${numId}" class="bill-product-name">
                                                        ${name}
                                                        </div>
                                                        <div id="nber${numId}" class="bill-product-number">
                                                        ${num}
                                                        </div>
                                             </div>
                        `);
                        tongtien = tongtien + parseInt(document.getElementById("input-thanhtien-" + numId).value);
                    }
                    document.getElementById("tongtien").textContent = tongtien;
                }
                var makh = [
                        {
                        Madtpn :"",
                        Tendtpn: "",
                        MsDn:""
                        }
                    ];
                $.ajax({
                    url: '@Url.Action("Get", "Ktdtpns")',
                    type: 'GET',
                    success: function (result) {
                        if (result.data.length > 0) {
                            makh = result.data;
                            for (var i = 0; i < makh.length; i++) {
                                const list = document.getElementById("list-makh-sugg");
                                list.insertAdjacentHTML('beforeend', `
                                       <tr class="tr-sugg" onclick="makhChooseItem('${encodeURIComponent(JSON.stringify(makh[i]))}')"><td>${makh[i].Madtpn}</td><td>${makh[i].Tendtpn}</td><td>${makh[i].MsDn}</td></tr>
                                `);
                            }
                        }
                    }
                });
                var makhItems = []
                function makhChooseItem(item) {
                    makhItems = JSON.parse(decodeURIComponent(item));
                    hide_sugg("list-makh-sugg");
                    // Gắn giá trị vào các thẻ <td>
                    document.getElementById('input-makh').value = JSON.parse(decodeURIComponent(item)).Madtpn;
                    document.getElementById('tenkh').value = JSON.parse(decodeURIComponent(item)).Tendtpn;
                    document.getElementById('dc').value = JSON.parse(decodeURIComponent(item)).Diachi;
                    document.getElementById('masodn').value = JSON.parse(decodeURIComponent(item)).MsDn;
                }
                    
                const manv = [
                    'how to mak',
                    'how to make',
                    'html explore ',
                    'css explore',
                    'dom explore',
                    'more items',
                    'how to make a slidebar',
                    'how to make this website',
                    'html explore ',
                    'css explore',
                    'dom explore',
                    'more items add hare that you want to suggest',
                    'how to make a slidebar',
                    'how to make this website',
                    'html explore ',
                    'css explore',
                    'dom explore',
                    'more items add hare that you want to suggest'
                ]
                for (var i = 0; i < manv.length; i++) {
                    const list = document.getElementById("list-manv-sugg");
                    list.insertAdjacentHTML('beforeend', `
                                      <tr><td>${manv[i]}</td><td>${manv[i + 1]}</td><td>${manv[i + 2]}</td></tr>
                                                                                         `);
                }

                //hide suggestions
                function hide_sugg(idSugg) {
                    document.getElementById(idSugg).classList.add("d-none");
                }
                document.addEventListener('click', function (event) {
                    for (let i = 0; i < exist.length; i++){
                        var container = document.getElementById("list-madm-sugg-"+exist[i]);
                        if (!container.contains(event.target) && !container.classList.contains("d-none")) {
                            hide_sugg("list-madm-sugg-" + exist[i]);
                            break;
                        }
                    }
                    if (!document.getElementById("list-makh-sugg").contains(event.target) && !document.getElementById("list-makh-sugg").classList.contains("d-none")) {
                        hide_sugg("list-makh-sugg");
                    }
                    if (!document.getElementById("list-manv-sugg").contains(event.target) && !document.getElementById("list-manv-sugg").classList.contains("d-none")) {
                        hide_sugg("list-manv-sugg");
                    }
                });
                
                function themDm() {
                    if (madmItems.length == index) {
                        var table = document.getElementById("list-dm");
                        count++;
                        index++;
                        table.insertAdjacentHTML('beforeend', `
                                                         <tr id="tr${count}">
                                                            <td class="t-center td-index">${index}</td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control input-sugg"
                                                                       id="input-madm-${count}"
                                                                       autofocus="autofocus"
                                                                       placeholder="Nhập mặt hàng..."
                                                                       name="ktdmDTOs[${count - 1}].Madm"
                                                                       onkeyup="SearchNow('list-madm-sugg-${count}','input-madm-${count}','list-madm-sugg-${count}')" />
                                                                <div class="table-container">
                                                                    <table id="list-madm-sugg-${count}" class="sugg-container d-none">
                                                                        <tr id="tr-1">
                                                                            <td class="width-120">Mã danh mục</td>
                                                                            <td class="width-250">Tên danh mục</td>
                                                                            <td class="width-90">Số lượng tồn</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                            <td><div id="ip-tendm-${count}"> </div>
                                                            <input type="text" class="form-control" id="input-tendm-${count}" name="ktdmDTOs[${count - 1}].Tendm" hidden readonly />
                                                            <input type="text" class="form-control" id="input-matk-${count}" name="ktdmDTOs[${count - 1}].Matk" hidden readonly /></td>
                                                            <td><input type="text" class="form-control" id="input-donvi-${count}" name="ktdmDTOs[${count - 1}].Donvi" readonly /></td>
                                                            <td><input type="number" class="form-control" id="input-dongia-${count}" name="ktdmDTOs[${count - 1}].Dgban" min="0" onchange="tinhTien(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-soluong-${count}" name="ktdmDTOs[${count - 1}].Soluong" min="1" onchange="tinhTien(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-ck-${count}" name="ktdmDTOs[${count - 1}].PtChietKhau" min="0" max="100" onchange="lamTron(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-ck-vnd-${count}" name="ktdmDTOs[${count - 1}].PtChietKhau" min="0" onchange="tinhTien(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-thue-${count}" name="ktdmDTOs[${count - 1}].PtThue" min="0" max="100" onchange="lamTron(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-thue-vnd-${count}" name="ktdmDTOs[${count - 1}].PtThue" min="0" onchange="tinhTien(${count})" /></td>
                                                            <td><input type="number" class="form-control" id="input-thanhtien-${count}" readonly/></td>
                                                            <td class="t-center"><a onClick="xoaDm('tr${count}')" class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td>
                                                        </tr>
                    `);
                        $.ajax({
                            url: '@Url.Action("Get", "Ktdms")',
                            type: 'GET',
                            success: function (result) {
                                if (result.data.length > 0) {
                                    madm = result.data;
                                    for (var i = 0; i < madm.length; i++) {
                                        const list = document.getElementById("list-madm-sugg-" + count);
                                        list.insertAdjacentHTML('beforeend', `
                                                                <tr class="tr-sugg" onclick="madmChooseItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                                `);
                                    }
                                }
                            }
                        });
                        exist.push(count);
                    } else {
                        alert("Hãy chọn mặt hàng trước!");
                    }
                }
                function xoaHet() {
                    var size = madmItems.length;
                    for (let i = 0; i < size; i++) {
                        xoaDm(madmItems[0].trId);
                    }
                }
                function xoaDm(id) {
                    if (index == 1) themDm();
                    if (madmItems.length != 0) {
                        var tr = document.getElementById(id);
                        for (let i = 0; i < exist.length; i++) {
                            if (exist[i] == id[2]) {
                                exist.splice(i, 1);
                            }
                        }
                        for (let i = 0; i < madmItems.length; i++) {
                            if (madmItems[i].trId == id) {
                                madmItems.splice(i, 1);
                            }
                        }
                        tr.remove();
                        index--;
                        var idList = [];
                        for (let i = 1; i <= index; i++) {
                            idList.push(i);
                        }
                        var tdList = document.getElementsByClassName("td-index");
                        for (let i = 0; i < tdList.length; i++) {
                            tdList[i].textContent = idList[i];
                        }
                        loadBill();
                    }
                }
                function Submit() {
                    setTimeout(function (value) {
                        $.ajax({
                            url: '@Url.Action("SubmitCartToExport", "Ktdms")',
                            type: 'POST',
                            data: JSON.stringify(madm),
                            success: function (result) {
                                //window.location.replace("/Home/ExportBuyProduct")
                                window.open("https://localhost:7278/InvoiceReport/HoaDon.pdf", "_blank");
                            }
                        });
                    }, 1000)
                    save().then()
                }
                document.getElementById('myForm').onkeypress = function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    if (key == 13) {
                       e.preventDefault();
                   }
                }
                function exportPDF(){
                    var idKh = document.getElementById("input-makh").value;
                    var idHt = document.getElementById("ht").value;
                    var idKt = document.getElementById("ct").value;
                    var khs = [
                    ];
                    
                    for (let i = 0; i < madmItems.length; i++){
                        var madmDTO = {
                            Matk: madmItems[i].Matk,
                            Madm: madmItems[i].Madm,
                            Tendm: madmItems[i].Tendm,
                            Donvi: madmItems[i].Donvi,
                            Soluong: madmItems[i].Soluong,
                            Dgban: madmItems[i].Dgban,
                            TonTDv1: madmItems[i].TonTDv1,
                        }
                        khs.push(madmDTO);
                    }
                    var myKeyVals = {
                        Makh: idKh,
                        NgayCtu : idKt,
                        NgayHToan: idHt,
                        ktdmDTOs: khs,
                    }
                    $.ajax({
                        url: '@Url.Action("SubmitCartToExport", "Ktdms")',
                        type: 'POST',
                        data: myKeyVals,
                        success: function (result) {
                            window.open("https://localhost:7278/InvoiceReport/HoaDon.pdf", "_blank");
                        }
                    });
                }
                
                function error(error) {
                }
                
                function onCkChung() {
                    isCkChung = true;
                    ptCkChung = document.getElementById("ckChung").value
                    for(let i = 0; i < madmItems.length; i++){
                        var id = madmItems[i].trId;
                        var tr = document.getElementById(id);
                        madmItems[i].PtChietkhau = ptCkChung;
                        document.getElementById("input-ck-" + id[2]).value = ptCkChung;
                        tinhTien(id[2]);
                    }
                }

                function edit(){
                    var tr = document.getElementsByClassName("tr-atv");
                    var soct;
                    if (tr.length == 0) {
                        alert("Hãy ấn vào đơn bạn muốn sửa!");
                    } else if (tr.length == 1) {
                        var grid = document.getElementById("data-tb");
                        var row = grid.getElementsByClassName("tr-atv")[0];
                        var id = document.getElementById("ip-id-" + row.id[2]).value;

                        document.getElementById("edit-page").classList.remove("d-none");
                                    document.getElementById("edit-page").classList.add("d-relative");
                                    $.ajax({
                                        url: '@Url.Action("GetDetailPhieuMuaHang", "Ktscs")',
                                        type: 'GET',
                                        data: {
                                            id: id
                                        },
                                        success: function (result) {
                                            var editPage = document.getElementById("edit-page");
                                            var modal = editPage.getElementsByClassName("buy-edit");
                                            while (modal.length > 0) {
                                                modal[0].parentNode.removeChild(modal[0]);
                                            }
                                            $("#edit-page").append(result);
                                        }
                                    });
                  
                    } else {
                        alert("Chỉ ấn vào 1 đơn bạn muốn sửa!");
                    }
                }
                function closeEdit(){
                    document.getElementById("edit-page").classList.add("d-none");
                    document.getElementById("edit-page").classList.remove("d-relative");
                    //location.reload();
                }

                function backList() {
                    var btnThem = document.getElementById("themBtn");
                    var btnBack = document.getElementById("backBtn");
                    var navSell = document.getElementById("navSell");
                    var muaData = document.getElementById("mua-data");
                    var form = document.getElementById("myForm");
                    btnThem.classList.remove("d-none");
                    navSell.classList.remove("d-none");
                    navSell.classList.add("navbar-collapse");
                    btnBack.classList.add("d-none");
                    muaData.classList.remove("d-none")
                    form.classList.add("d-none");
                }
                function orderOut() {
                    var btnThem = document.getElementById("themBtn");
                    var btnBack = document.getElementById("backBtn");
                    var navSell = document.getElementById("navSell");
                    var muaData = document.getElementById("mua-data");
                    var form = document.getElementById("myForm");
                    btnThem.classList.add("d-none");
                    navSell.classList.add("d-none");
                    navSell.classList.remove("navbar-collapse");
                    btnBack.classList.remove("d-none");
                    muaData.classList.add("d-none")
                    form.classList.remove("d-none");
                }
                function xoaOrder() {
                    var tr = document.getElementsByClassName("dx-row-focused");
                    var soct;
                    if (tr.length == 0) {
                        alert("Hãy ấn vào đơn bạn muốn xóa!");
                    } else if (tr.length == 1) {
                        var td = tr[0].getElementsByTagName("td");
                        soct = td[1].textContent;
                    } else {
                        alert("Chỉ ấn vào 1 đơn bạn muốn xóa!");
                    }
                }
                function inOrder() {
                    var tr = document.getElementsByClassName("dx-row-focused");
                    var soct;
                    if (tr.length == 0) {
                        alert("Hãy ấn vào đơn bạn muốn in!");
                    } else if (tr.length == 1) {
                        var td = tr[0].getElementsByTagName("td");
                        soct = td[1].textContent;
                    } else {
                        alert("Chỉ ấn vào 1 đơn bạn muốn in!");
                    }
                }



                //hàm giới hạn ngày 
                window.onload = function () {
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("date-from").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("max", today);

                    document.getElementById("date-from").onchange = function () {
                        document.getElementById("date-to").setAttribute("min", this.value);
                    }

                }
                var fil = [];
                resetDate();
                function resetDate(){
                    var date = new Date();
                    date.setDate(date.getDate() - 30); // Trừ đi 30 ngày
                    var dd = String(date.getDate()).padStart(2, '0');
                    var mm = String(date.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
                    var yyyy = date.getFullYear();
                    var defaultDate = yyyy + '-' + mm + '-' + dd; // Định dạng YYYY-MM-DD

                    date = new Date();
                    dd = String(date.getDate()).padStart(2, '0');
                    mm = String(date.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
                    yyyy = date.getFullYear();
                    var currentDate = yyyy + '-' + mm + '-' + dd; // Định dạng YYYY-MM-DD
                    var fromDate = defaultDate;
                    var toDate = currentDate;
                    document.getElementById("date-to").value = "";
                    document.getElementById("date-from").value = "";
                    $.ajax({
                        url: '@Url.Action("GetALLDSPhieuMuaHangByDate", "Ktscs")',
                        type: 'GET',
                        data: { fromDate: fromDate, toDate: toDate },
                        success: function (response) {
                            const table = document.getElementById("data-tb");
                            while (table.rows.length > 1) {
                                table.deleteRow(1); // Use deleteRow to remove specific rows
                            }
                            fil = response;
                            for (let i = 1; i <= fil.length; i++) {
                                table.insertAdjacentHTML('beforeend', `
                                    <tr id="t-${i}"  onclick="tractive(this.id)">
                                        <td>
                                            <input id="ip-id-${i}" hidden type="number"/> 
                                            <div id="ngayct-${i}"></div>
                                        </td>
                                        <td id="soct-${i}"></td>
                                        <td id="httt-${i}"></td>
                                        <td id="thanhtien-${i}"></td>
                                        <td id="ckpt-${i}"></td>
                                        <td id="ckVnd-${i}"></td>
                                        <td id="tongVnd-${i}"></td>
                                        <td id="khtt-${i}"></td>
                                        <td id="makh-${i}"></td>
                                        <td id="tenkh-${i}"></td>
                                        <td id="msthue-${i}"></td>
                                        <td id="dc-${i}"></td>
                                        <td id="gc-${i}"></td>
                                        <td id="nvban-${i}"></td>
                                    </tr>
                               `);
                            }
                            for (let i = 0; i < fil.length; i++) {
                                let ii = i + 1;
                                var date = new Date(fil[i].NgayCtu);
                                var dateString = date.toISOString().split('T')[0];
                                document.getElementById("ip-id-" + ii).value = fil[i].id ? fil[i].id : "";
                                document.getElementById("ngayct-" + ii).textContent = fil[i].NgayCtu ? dateString : "";
                                document.getElementById("soct-" + ii).textContent = fil[i].Soctu ? fil[i].Soctu : "";
                                document.getElementById("httt-" + ii).textContent = fil[i].HTThanhToan ? fil[i].HTThanhToan : "";
                                document.getElementById("thanhtien-" + ii).textContent = fil[i].ThanhTien ? fil[i].ThanhTien : "";
                                document.getElementById("ckpt-" + ii).textContent = fil[i].ckPhanTram ? fil[i].ckPhanTram : "";
                                document.getElementById("ckVnd-" + ii).textContent = fil[i].CkThanhTien ? fil[i].CkThanhTien : "";
                                document.getElementById("tongVnd-" + ii).textContent = fil[i].TongTien ? fil[i].TongTien : "";
                                document.getElementById("khtt-" + ii).textContent = fil[i].KhTraTien ? fil[i].KhTraTien : "";
                                document.getElementById("makh-" + ii).textContent = fil[i].MaKh ? fil[i].MaKh : "";
                                document.getElementById("tenkh-" + ii).textContent = fil[i].TenKh ? fil[i].TenKh : "";
                                document.getElementById("msthue-" + ii).textContent = fil[i].MsThue ? fil[i].MsThue : "";
                                document.getElementById("dc-" + ii).textContent = fil[i].Diachi ? fil[i].Diachi : "";
                                document.getElementById("gc-" + ii).textContent = fil[i].GhiChu ? fil[i].GhiChu : "";
                                document.getElementById("nvban-" + ii).textContent = fil[i].NhanVienBan ? fil[i].NhanVienBan : "";
                            }
                        }
                    });
                }

                function confirmDate(){
                    var toDate = document.getElementById("date-to").value ? document.getElementById("date-to").value : new Date();
                    try {
                        toDate = new Date(toDate);
                        var monthDate = new Date();
                        monthDate.setDate(toDate.getDate() - 30); // Trừ đi 30 ngày
                        var dd = String(toDate.getDate()).padStart(2, '0');
                        var mm = String(toDate.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
                        var yyyy = toDate.getFullYear();
                        var currentDate = yyyy + '-' + mm + '-' + dd; // Định dạng YYYY-MM-DD
                        toDate = currentDate;
                        
                        var dd = String(monthDate.getDate()).padStart(2, '0');
                        var mm = String(monthDate.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
                        var yyyy = monthDate.getFullYear();
                        monthDate = yyyy + '-' + mm + '-' + dd; // Định dạng YYYY-MM-DD
                    } catch (error) {
                        console.error("Error parsing date:", error);
                        // Handle the parsing error gracefully (e.g., set to today's date or provide a default value)
                        //toDate = new Date();
                    }
                    var fromDate = document.getElementById("date-from").value ? document.getElementById("date-from").value : monthDate;
                    console.log(fromDate);
                    console.log(toDate);
                    // Gửi yêu cầu HTTP đến API với ngày "Từ" và "Đến" làm tham số
                    $.ajax({
                        url: '@Url.Action("GetALLDSPhieuMuaHangByDate", "Ktscs")',
                        type: 'GET',
                        data: { fromDate: fromDate, toDate: toDate },
                        success: function (response) {
                            const table = document.getElementById("data-tb");
                            while (table.rows.length > 1) {
                                table.deleteRow(1); // Use deleteRow to remove specific rows
                            }
                            fil = response;
                            for (let i = 1; i <= fil.length; i++) {
                                table.insertAdjacentHTML('beforeend', `
                                    <tr id="t-${i}"  onclick="tractive(this.id)">
                                        <td>
                                            <input id="ip-id-${i}" hidden type="number"/> 
                                            <div id="ngayct-${i}"></div>
                                        </td>
                                        <td id="soct-${i}"></td>
                                        <td id="httt-${i}"></td>
                                        <td id="thanhtien-${i}"></td>
                                        <td id="ckpt-${i}"></td>
                                        <td id="ckVnd-${i}"></td>
                                        <td id="tongVnd-${i}"></td>
                                        <td id="khtt-${i}"></td>
                                        <td id="makh-${i}"></td>
                                        <td id="tenkh-${i}"></td>
                                        <td id="msthue-${i}"></td>
                                        <td id="dc-${i}"></td>
                                        <td id="gc-${i}"></td>
                                        <td id="nvban-${i}"></td>
                                    </tr>
                               `);
                            }
                            for (let i = 0; i < fil.length; i++) {
                                let ii = i + 1;
                                var date = new Date(fil[i].NgayCtu);
                                var dateString = date.toISOString().split('T')[0];
                                document.getElementById("ip-id-" + ii).value = fil[i].id ? fil[i].id : "";
                                document.getElementById("ngayct-" + ii).textContent = fil[i].NgayCtu ? dateString : "";
                                document.getElementById("soct-" + ii).textContent = fil[i].Soctu ? fil[i].Soctu : "";
                                document.getElementById("httt-" + ii).textContent = fil[i].HTThanhToan ? fil[i].HTThanhToan : "";
                                document.getElementById("thanhtien-" + ii).textContent = fil[i].ThanhTien ? fil[i].ThanhTien : "";
                                document.getElementById("ckpt-" + ii).textContent = fil[i].ckPhanTram ? fil[i].ckPhanTram : "";
                                document.getElementById("ckVnd-" + ii).textContent = fil[i].CkThanhTien ? fil[i].CkThanhTien : "";
                                document.getElementById("tongVnd-" + ii).textContent = fil[i].TongTien ? fil[i].TongTien : "";
                                document.getElementById("khtt-" + ii).textContent = fil[i].KhTraTien ? fil[i].KhTraTien : "";
                                document.getElementById("makh-" + ii).textContent = fil[i].MaKh ? fil[i].MaKh : "";
                                document.getElementById("tenkh-" + ii).textContent = fil[i].TenKh ? fil[i].TenKh : "";
                                document.getElementById("msthue-" + ii).textContent = fil[i].MsThue ? fil[i].MsThue : "";
                                document.getElementById("dc-" + ii).textContent = fil[i].Diachi ? fil[i].Diachi : "";
                                document.getElementById("gc-" + ii).textContent = fil[i].GhiChu ? fil[i].GhiChu : "";
                                document.getElementById("nvban-" + ii).textContent = fil[i].NhanVienBan ? fil[i].NhanVienBan : "";
                            }
                        }
                    });
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("date-from").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("min", "");
                }
                
                $(document).ready(function () {
                    $(document).on('contextmenu', 'table tr', function (e) {
                        e.preventDefault(); // Ngăn trình đơn chuột phải mặc định

                        var id = $(this)[0].id;
                        // Hiện menu tùy chỉnh
                        $('#rightMenu').css({
                            top: e.pageY,
                            left: e.pageX,
                        }).show();

                        // Gán ID cho các nút "Sửa" và "Xóa"
                        $('#sua').data('tb', id);
                        $('#xoa').data('tb', id);
                    });
                    $(document).on('click', function (e) {
                        if (!$(e.target).is('table tr')) {
                            $('#rightMenu').hide(); // Ẩn menu khi click ngoài bảng
                        }
                    });
                });
                $(document).on('click', '#sua', function (e) {
                    e.preventDefault();
                    var id = $(this).data('tb');
                    var idSua = document.getElementById("ip-id-" + id[2]).value;
                    document.getElementById("edit-page").classList.remove("d-none");
                    document.getElementById("edit-page").classList.add("d-relative");
                    $.ajax({
                        url: '@Url.Action("GetDetailPhieuMuaHang", "Ktscs")',
                        type: 'GET',
                        data: {
                            id: idSua
                        },
                        success: function (result) {
                            var editPage = document.getElementById("edit-page");
                            var modal = editPage.getElementsByClassName("buy-edit");
                            while (modal.length > 0) {
                                modal[0].parentNode.removeChild(modal[0]);
                            }
                            $("#edit-page").append(result);
                        }
                    });
                    // Gọi hàm xử lý sửa dữ liệu với ID được truyền vào
                    suaDuLieu(id);
                });

                $(document).on('click', '#xoa', function (e) {
                    e.preventDefault();

                    var id = $(this);
                    // Gọi hàm xử lý xóa dữ liệu với ID được truyền vào
                    xoaDuLieu(id);
                });

                // Hàm xử lý sửa dữ liệu
                function suaDuLieu(id) {
                    
                }

                // Hàm xử lý xóa dữ liệu
                function xoaDuLieu(id) {
                    // Code logic để xóa dữ liệu dựa trên ID
                    alert('Xóa dữ liệu với ID: ' + id);
                }



                function tractive(id) {
                    if (document.getElementById(id).classList.contains("tr-atv")) {
                        document.getElementById(id).classList.remove("tr-atv");
                    } else {
                        var tr = document.getElementsByClassName("tr-atv");
                        for (let i = 0; i < tr.length; i++) {
                            tr[i].classList.remove("tr-atv");
                        }
                        document.getElementById(id).classList.add("tr-atv");
                    }
                }
                $.ajax({
                    url: '@Url.Action("GetSoHoaDon", "Ktscs")',
                    type: 'GET',
                    success: function (result) {
                        $("#sohd").val(`0000${result}`);
                    }
                });
            </script>
        </div>
    </div>
</div>

