@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAccountant.ModelsBase.Ktdm
@{
    Html.RenderPartial("../Home/Header");
    var ktdmColumn = (List<WebAccountant.ModelsLogin.KTDMColumn>)ViewData["KTDMColumn"];
}
@{
    var json = Context.Session.GetString("permission");
    WebAccountant.ModelsBase.KtUserTable userPermission = new WebAccountant.ModelsBase.KtUserTable()
    {
        MaUser = "",
        Tenbang = "KTDM",
        ChoSua = "F",
        ChoThem = "F",
        ChoXoa = "F",
        Trangthai = 1,
    };
    if (json != null)
    {
        userPermission = Newtonsoft.Json.JsonConvert.DeserializeObject<List<WebAccountant.ModelsBase.KtUserTable>>(json).Where(s => s.Tenbang.Trim() == "KTDM").FirstOrDefault();
    }
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            @*Navbar Here*@
            @* <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Danh sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đơn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav> *@

            @*Modal add*@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Thêm Danh Mục Hàng Hóa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="resetModal()" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form-dm" method="post" asp-controller="Ktdms" asp-action="Post">
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="input-madm" class="col-form-label">Mã hàng hóa:</label>
                                        <input type="text" class="form-control input-sugg"
                                               asp-for="Madm"
                                               id="input-madm"
                                               autofocus="autofocus"
                                               autocomplete="off"
                                               placeholder="Nhập mặt hàng(nếu có)..."
                                               onkeyup="SearchNow('list-madm-sugg','input-madm','list-madm-sugg')" />
                                        <span id="valid-madm" class="text-danger"></span>
                                        <div class="table-container">
                                            <table id="list-madm-sugg" class="sugg-container d-none">
                                                <tr id="tr-1">
                                                    <td class="width-150">Mã khách hàng</td>
                                                    <td class="width-500">Tên khách hàng</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="mahh" class="col-form-label">Mã tài khoản:</label>
                                        <input type="text" class="form-control" asp-for="Matk" id="mahh">
                                        <span id="valid-mahh" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 text-start">
                                        <label for="tendm" class="col-form-label">Tên hàng hóa:</label>
                                        <input type="text" class="form-control" asp-for="Tendm" id="tendm">
                                        <span id="valid-tendm" class="text-danger"></span> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="t-dgb" class="col-form-label">Đơn giá bán:</label>
                                        <input type="text" class="form-control" id="t-dgb" onchange="formatAll()" />
                                        <input type="number" min="0" class="form-control" asp-for="Dgban" id="dgb" hidden/>
                                        <span id="valid-dgb" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="t-dgx" class="col-form-label">Đơn giá xuất:</label>
                                        <input type="text" class="form-control" id="t-dgx" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" asp-for="Dgxuat" id="dgx" hidden />
                                        <span id="valid-dgx" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-1 text-start">
                                        <label for="dvt" class="col-form-label">Đơn vị:</label>
                                        <input type="text" class="form-control" asp-for="Donvi" id="dvt">
                                        <span id="valid-dvt" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2 text-start">
                                        <label for="t-tdk-sl" class="col-form-label">Tồn đầu kì - Số lượng:</label>
                                        <input type="text" class="form-control" id="t-tdk-sl" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" id="tdk-sl" asp-for="TonT" hidden>
                                        <span id="valid-tdk-sl" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="t-tdk-gt" class="col-form-label">Tồn đầu kì - Giá trị:</label>
                                        <input type="text" class="form-control" id="t-tdk-gt" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" asp-for="VndtonT" id="tdk-gt" hidden>
                                        <span id="valid-tdk-gt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="ck" class="col-form-label">% Chiết khấu:</label>
                                        <input type="number" min="0" max="100" class="form-control" asp-for="Ptchietkhau" id="ck">
                                        <span id="valid-ck" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="thue" class="col-form-label">Thuế suất:</label>
                                        <input type="number" min="0" max="100" class="form-control" asp-for="Thuesuat" id="thue">
                                        <span id="valid-thue" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="manhom" class="col-form-label">Mã nhóm:</label>
                                        <input type="text" class="form-control" id="manhom" asp-for="Manhom">
                                        <span id="valid-manhom" class="text-danger"></span>
                                        </div>
                                    <div class="col-md-3 text-start">
                                        <label for="ten-nhom" class="col-form-label">Tên nhóm:</label>
                                        <input type="text" class="form-control" id="ten-nhom" asp-for="Tennhom">
                                        <span id="valid-ten-nhom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="resetModal()" id="btnClose" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" onclick="submitModal()">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*Modal edit*@
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="editLabel">Sửa Danh Mục Hàng Hóa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form id="e-form-dm" method="post" asp-controller="Ktdms" asp-action="Put">
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="e-input-madm" class="col-form-label">Mã hàng hóa:</label>
                                        <input type="text" class="form-control input-sugg"
                                               asp-for="Madm"
                                               id="e-input-madm"
                                               autofocus="autofocus"
                                               autocomplete="off" readonly/>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-mahh" class="col-form-label">Mã tài khoản:</label>
                                        <input type="text" class="form-control" asp-for="Matk" id="e-mahh" readonly>
                                    </div>
                                    <div class="col-md-6 text-start">
                                        <label for="e-tendm" class="col-form-label">Tên hàng hóa:</label>
                                        <input type="text" class="form-control" asp-for="Tendm" id="e-tendm">
                                        <span id="e-valid-tendm" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="e-t-dgb" class="col-form-label">Đơn giá bán:</label>
                                        <input type="text" class="form-control" id="e-t-dgb" onchange="eformatAll()" />
                                        <input type="number" min="0" class="form-control" asp-for="Dgban" id="e-dgb" hidden />
                                        <span id="e-valid-dgb" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-t-dgx" class="col-form-label">Đơn giá xuất:</label>
                                        <input type="text" class="form-control" id="e-t-dgx" onchange="eformatAll()">
                                        <input type="number" min="0" class="form-control" asp-for="Dgxuat" id="e-dgx" hidden />
                                        <span id="e-valid-dgx" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-1 text-start">
                                        <label for="e-dvt" class="col-form-label">Đơn vị:</label>
                                        <input type="text" class="form-control" asp-for="Donvi" id="e-dvt">
                                        <span id="e-valid-dvt" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2 text-start">
                                        <label for="e-t-tdk-sl" class="col-form-label">Tồn đầu kì - Số lượng:</label>
                                        <input type="text" class="form-control" id="e-t-tdk-sl" onchange="eformatAll()">
                                        <input type="number" min="0" class="form-control" asp-for="TonT" id="e-tdk-sl" hidden>
                                        <span id="e-valid-tdk-sl" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-t-tdk-gt" class="col-form-label">Tồn đầu kì - Giá trị:</label>
                                        <input type="text" class="form-control" id="e-t-tdk-gt" onchange="eformatAll()">
                                        <input type="number" min="0" class="form-control" asp-for="VndtonT" id="e-tdk-gt" hidden>
                                        <span id="e-valid-tdk-gt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-start">
                                        <label for="e-ck" class="col-form-label">% Chiết khấu:</label>
                                        <input type="number" min="0" max="100" class="form-control" asp-for="Ptchietkhau" id="e-ck">
                                        <span id="e-valid-ck" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-thue" class="col-form-label">Thuế suất:</label>
                                        <input type="number" min="0" max="100" class="form-control" asp-for="Thuesuat" id="e-thue">
                                        <span id="e-valid-thue" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-manhom" class="col-form-label">Mã nhóm:</label>
                                        <input type="text" class="form-control" asp-for="Manhom" id="e-manhom">
                                    </div>
                                    <div class="col-md-3 text-start">
                                        <label for="e-ten-nhom" class="col-form-label">Tên nhóm:</label>
                                        <input type="text" class="form-control" asp-for="Tennhom" id="e-ten-nhom">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" onclick="esubmitModal()">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" style="max-width: 1100px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Cài đặt cột hiển thị</h5>
                            <div>
                                <button type="button" class="btn btn-primary" style="right : 0" onclick="CheckedAll()">Chọn tất cả</button>
                                <button type="button" class="btn btn-secondary" style="margin : 5px" onclick="UnCheckedAll()">Bỏ chọn tất cả</button>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                            </div>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <form style="display: inline-table" method="post" asp-controller="Ktdms" asp-action="SubmitKTDMColunm">
                                <table style="text-align : left">
                                    @for (int i = 0; i < 32; i++)
                                    {
                                        <tr style="display : flex">
                                            @foreach (var item in ktdmColumn.Skip(i * 5).Take(5))
                                            {
                                                var attribute = (List<WebAccountant.ModelsLogin.UserKTDMColumn>)ViewData["attribute"];

                                                if (attribute.Any(s => s.KTDMColumnId == item.Id))
                                                {
                                                    var width = attribute.Where(s => s.KTDMColumnId == item.Id).FirstOrDefault().Width;
                                                    <td style="margin: 5px; padding: 20px; ">
                                                        <input type="checkbox" class="myCheck" id="myCheck" value="@item.Id" name="ids[@ktdmColumn.IndexOf(item)]" checked /> @item.Description || Độ rộng
                                                        <input type="number" value="@width" min="0" name="width[@ktdmColumn.IndexOf(item)]" style="width: 50px" />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="margin: 5px;padding: 20px;">
                                                        <input type="checkbox" class="myCheck" id="myCheck" value="@item.Id" name="ids[@ktdmColumn.IndexOf(item)]" />@item.Description || Độ rộng
                                                        <input type="number" style="width: 50px" value="0" min="0" name="width[@ktdmColumn.IndexOf(item)]" />
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            @*Data Here*@
           @*  @(
                Html.DevExtreme().DataGrid<WebAccountant.ModelsBase.Ktdm>()
                        .DataSource(ds => ds.Mvc()
                        .Controller("Ktdms")
                        .LoadAction("Get")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Madm", "Matk")

                        )
                        .RemoteOperations(true)
                        .FocusedRowEnabled(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Matk);

                            columns.AddFor(m => m.Madm).Caption("Mã danh mục").Fixed(true);

                            columns.AddFor(m => m.Tendm).Caption("Tên danh mục").Fixed(true).Width(400);

                            columns.AddFor(m => m.Manhom);

                            columns.AddFor(m => m.Tennhom);

                            columns.AddFor(m => m.Kyhieu).Caption("Ký hiệu");

                            columns.AddFor(m => m.Donvi).Caption("Đơn vị");

                            columns.AddFor(m => m.Hansudung);

                            columns.AddFor(m => m.Nhacungcap);

                            columns.AddFor(m => m.Nhasanxuat);

                            columns.AddFor(m => m.Ptchietkhau).Caption("Phần trăm chiết khấu");

                            columns.AddFor(m => m.Thuesuat);

                            columns.AddFor(m => m.Dgxuat).Caption("Đơn giá xuất").Format("0,###");

                            columns.AddFor(m => m.Dgban).Caption("Đơn giá bán").Format("0,###");

                            columns.AddFor(m => m.Dgnhap).Caption("Đơn giá nhập").Format("0,###");

                            columns.AddFor(m => m.TkGiavon);

                            columns.AddFor(m => m.TkTralai);

                            columns.AddFor(m => m.GioihantonMax);

                            columns.AddFor(m => m.IdUpdate);

                            columns.AddFor(m => m.Ghichu);

                            columns.AddFor(m => m.Quycach);

                            columns.AddFor(m => m.Songaysudung);
                        }).ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                        .ShowBorders(true)
                        .RowAlternationEnabled(true)
                        .WordWrapEnabled(true)
                        .Editing(e =>
                        {
                            e.Mode(GridEditMode.Batch)
                            .AllowUpdating(true).UseIcons(true)
                            .AllowDeleting(true);
                            e.SelectTextOnEditStart(true);
                            e.StartEditAction(GridStartEditAction.DblClick);
                        })
                        .Paging(paging => paging.PageSize(15))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Compact);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);
                        })

                        .OnRowInserted("onRowInserted")
                        .OnContextMenuPreparing("OpenMenu").ID("grid")
                        .Summary(s => s
                        .RecalculateWhileEditing(true))
                    .Summary(s => s
                        .RecalculateWhileEditing(true)
                        .TotalItems(items =>{
                            items.AddFor(m => m.Dgnhap)
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("{0}")
                            .ValueFormat("0,###");

                            items.AddFor(m => m.Dgban)
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("{0}")
                            .ValueFormat("0,###");

                            items.AddFor(m => m.Dgxuat)
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("{0}")
                            .ValueFormat("0,###");
                            
                        })
                    )
                ) *@
            @(
                Html.DevExtreme().DataGrid()
                .ID("gridContainer")
                .Columns(columns =>
                {
                    var attribute = ViewData["attribute"];
                    foreach (var att in (List<WebAccountant.ModelsLogin.UserKTDMColumn>)attribute)
                    {
                        var atrii = att.KTDMColumn.Name.Substring(0, 1).ToUpper() + att.KTDMColumn.Name.Substring(1).ToLower();
                        var splits = atrii.Split("_");
                        if (splits.Length > 1)
                        {
                            atrii = "";
                            foreach (var split in splits)
                            {
                                atrii += split.Substring(0, 1).ToUpper() + split.Substring(1).ToLower();
                            }
                        }
                        if (atrii == "Ngaylo" || atrii == "Hansudung" || atrii == "NgaybanGanNhat" || atrii == "NgaymuaGanNhat")
                        {
                            columns.Add().DataField(atrii).Caption(att.KTDMColumn.Description).DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").MinWidth(att.Width);
                        }
                  @*       else if (atrii == "Matk" || atrii == "Madm" || atrii == "Tendm" || atrii == "Donvi")
                        {
                            columns.Add().DataField(atrii).Caption(att.KTSCColumn.Description).DataType(GridColumnDataType.Date).MinWidth(att.Width).Fixed(true);
                        } *@
                            else if (atrii == "Tendm" || atrii == "Donvi")
                            {
                                columns.Add().DataField(atrii).Caption(att.KTDMColumn.Description).MinWidth(att.Width).Fixed(true);
                            }
                            else if (atrii == "Matk" || atrii == "Madm")
                            {
                                columns.Add().DataField(atrii).Caption(att.KTDMColumn.Description).MinWidth(att.Width).Fixed(true).AllowEditing(false);
                            }
                            else
                            {
                                columns.Add().DataField(atrii).Caption(att.KTDMColumn.Description).MinWidth(att.Width).Format("0,###");
                            }
                        }
                    })
                    .ShowColumnHeaders(true)
                .DataSource(d => d.StaticJson().Url(@Url.Action("GetData", "Ktdms")).Key("Madm"))
                    .ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                    .RowAlternationEnabled(true).WordWrapEnabled(true)
                    .ShowBorders(true).Paging(paging => paging.PageSize(10))
                    .Height(750)
                    .Pager(pager =>
                    {
                        pager.Visible(true);
                        pager.DisplayMode(GridPagerDisplayMode.Compact);
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                        pager.ShowInfo(true);
                        pager.ShowNavigationButtons(true);
                    })
                    .Editing(e => 
                {
                e.Mode(GridEditMode.Batch)
                .AllowUpdating(userPermission.ChoSua.Trim() == "T").UseIcons(true)
                .AllowDeleting(userPermission.ChoXoa.Trim() == "T");
                e.SelectTextOnEditStart(true);
                e.StartEditAction(GridStartEditAction.DblClick);
            }
                ).OnSaving("onSaving")
                .FocusedRowEnabled(true)
                .OnFocusedRowChanged("focusRow")
                .Summary(s => s
                .RecalculateWhileEditing(true)
                .TotalItems(items =>
                {
                    // Loop through each field used in the columns
                    var attribute = ViewData["attribute"];
                    foreach (var col in (List<WebAccountant.ModelsLogin.UserKTDMColumn>)attribute)
                    {
                        string atrii = col.KTDMColumn.Name.Substring(0, 1).ToUpper() + col.KTDMColumn.Name.Substring(1).ToLower();
                        var splits = atrii.Split("_");
                        if (splits.Length > 1)
                        {
                            atrii = "";
                            foreach (var split in splits)
                            {
                                atrii += split.Substring(0, 1).ToUpper() + split.Substring(1).ToLower();
                            }
                        }
                        if (atrii == "Ptchietkhau" || atrii == "Thuesuat" || atrii == "Dgxuat" || atrii == "TonT" || atrii == "VndtonT" 
                        || atrii == "NhapT" || atrii == "VndnhapT" || atrii == "XuatT" || atrii == "VndxuatT" || atrii == "TonCk"
                        || atrii == "VndtonCk" || atrii == "Dgban" || atrii == "Dgban1" || atrii == "Dgban2" || atrii == "Dgban3" || atrii == "Dgban4"
                        || atrii == "Dgnhap1" || atrii == "Dgnhap2" || atrii == "Dgnhap3" || atrii == "Dgnhap4" || atrii == "Dgnhap5" || atrii == "Dgnhap")
                        {
                            items.Add().Column(atrii)// Access property dynamically using bracket notation
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("{0}")
                            .ValueFormat("0,###");
                        }
                    }
                }))
                )

            <div class="footer-data d-flex justify-content-start">
                @if (userPermission.ChoThem.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button>
                }
                @* <button class="btn btn-primary width-100" type="button" id="btnEdit" onclick="onEdit()">Sửa</button> *@
                @if (userPermission.ChoXoa.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
                }
                @if (userPermission.ChoSua.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="onEdit()">Sửa</button>
                    <button data-bs-toggle="modal" type="button" id="btnEdit" data-bs-target="#editModal" hidden></button> 
                }
                @if (userPermission.ChoXoa.Trim() == "T" || userPermission.ChoSua.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="saveGrid()">Lưu</button>
                    <button class="btn btn-primary width-100" type="button" onclick="redoGrid()">Hoàn tác</button>
                }
@*                 <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
                <button class="btn btn-primary width-100" type="button" onclick="saveGrid()">Lưu</button>
                <button class="btn btn-primary width-100" type="button" onclick="redoGrid()">Hoàn tác</button> *@
                <div class="d-flex ms-auto" style="right : 0">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#settingModal">
                        <img src="~/img/setting.png" style="width: 20px; height: auto" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var key = "";
    function focusRow(e){
        key = e.row.key;
        //console.log(key);
    }
    function onSaving(e) {
        e.cancel = true;
        if (e.changes.length) {
            e.promise = sendBatchRequest('@Url.RouteUrl(new { controller = "Ktdms", action = "Batch" })', e.changes).done(() => {
                e.component.refresh(true).done(() => {
                    e.component.cancelEditData();
                });
            });
        }
    }

    function sendBatchRequest(url, changes) {
        var d = $.Deferred();

        $.ajax(url, {
            method: "POST",
            data: JSON.stringify(changes),
            cache: false,
            contentType: 'application/json',
            xhrFields: { withCredentials: true }
        }).done(d.resolve).fail(function (xhr) {
            d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
        });

        return d.promise();
    }
    function saveGrid() {
        document.getElementsByClassName("dx-datagrid-save-button")[0].click();
    }
    function redoGrid() {
        document.getElementsByClassName("dx-datagrid-cancel-button")[0].click();
    }
    function SearchNow(idSugg, idInput, idUl) {
        document.getElementById(idSugg).classList.remove("d-none");
        var input, filter, a, i, txtValue;
        input = document.getElementById(idInput);
        filter = input.value.toUpperCase();
        var table = document.getElementById(idSugg);
        var tr = table.getElementsByTagName('tr');
        for (i = 1; i < tr.length; i++) {
            tdMa = tr[i].getElementsByTagName("td")[0];
            maValue = tdMa.textContent || tdMa.innerText;
            tdTen = tr[i].getElementsByTagName("td")[1];
            tenValue = tdTen.textContent || tdTen.innerText;
            if (maValue.toUpperCase().indexOf(filter) > -1 || tenValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
        }
    }
    var madm = [
        {
            Madm: "",
            Tendm: "",
            TonT: ""
        }
    ];
    $.ajax({
        url: '@Url.Action("Get", "Ktdms")',
        type: 'GET',
        success: function (result) {
            if (result.data.length > 0) {
                madm = result.data;
                for (var i = 0; i < madm.length; i++) {
                    const list = document.getElementById("list-madm-sugg");
                    list.insertAdjacentHTML('beforeend', `
                                                    <tr class="tr-sugg" onclick="madmChooseItem('${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td></tr>
                                    `);
                }
            }
        }
    });
    function hide_sugg(idSugg) {
        document.getElementById(idSugg).classList.add("d-none");
    }
    function madmChooseItem(item) {
        hide_sugg("list-madm-sugg");
        var addItem = JSON.parse(decodeURIComponent(item));
        var madmDTO = {
            Matk: addItem.Matk,
            Madm: addItem.Madm,
            Tendm: addItem.Tendm,
            Donvi: addItem.Donvi,
            Dgban: 0,
            TonTDv1: addItem.TonTDv1,
            PtChietkhau: 0,
            PtThue: 0,
        }
        document.getElementById('input-madm').value = JSON.parse(decodeURIComponent(item)).Madm;
        document.getElementById('mahh').value = JSON.parse(decodeURIComponent(item)).Matk;
        document.getElementById('tendm').value = JSON.parse(decodeURIComponent(item)).Tendm;
        document.getElementById('t-dgb').value = 0;
        document.getElementById('t-dgx').value = 0;
        document.getElementById('dgb').value = 0;
        document.getElementById('dgx').value = 0;
        document.getElementById('dvt').value = JSON.parse(decodeURIComponent(item)).Donvi;
        document.getElementById('t-tdk-gt').value = 0;
        document.getElementById('t-tdk-sl').value = 0;
        document.getElementById('tdk-gt').value = 0;
        document.getElementById('tdk-sl').value = 0;
    }
    function onDelete() {
        var grid = document.getElementById("grid");
        var row = grid.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
                alert("Hãy chọn hàng cần xóa")
        } else {
            var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
            deleteLink.click();
        }
    }


    function onEdit() {
        var row = document.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
                alert("Hãy chọn hàng cần sửa")
        } else {
            var index = 0;
            for (let i = 0; i < madm.length; i++) {
                if(key == madm[i].Madm){
                    index = i;
                    break;
                }
            }
            $('#btnEdit').click();
            document.getElementById('e-input-madm').value = madm[index].Madm;
            document.getElementById('e-mahh').value = madm[index].Matk;
            document.getElementById('e-tendm').value = madm[index].Tendm;
            document.getElementById('e-dgb').value = (madm[index].Dgban);
            document.getElementById('e-t-dgx').value = formatFromNumber(madm[index].Dgxuat);
            document.getElementById('e-t-dgb').value = formatFromNumber(madm[index].Dgban);
            document.getElementById('e-dgx').value = madm[index].Dgxuat;
            document.getElementById('e-dvt').value = madm[index].Donvi;
            document.getElementById('e-t-tdk-gt').value = formatFromNumber(madm[index].VndtonT);
            document.getElementById('e-t-tdk-sl').value = formatFromNumber(madm[index].TonT);
            document.getElementById('e-tdk-gt').value = madm[index].VndtonT;
            document.getElementById('e-tdk-sl').value = madm[index].TonT;
            document.getElementById('e-ck').value = madm[index].Ptchietkhau;
            document.getElementById('e-thue').value = madm[index].Thuesuat;
            document.getElementById('e-manhom').value = madm[index].Manhom;
            document.getElementById('e-ten-nhom').value = madm[index].Tennhom;
            document.getElementById('e-mahh').select();
        }
    }
    function submitModal() {
        var madmSubmit = document.getElementById('input-madm').value;
        var maktSubmit = document.getElementById('mahh').value;
        var tendmSubmit = document.getElementById('tendm').value;
        var dvtSubmit = document.getElementById('dvt').value;
        var dgbSubmit = document.getElementById('dgb').value;
        var dgxSubmit = document.getElementById('dgx').value;
        var ckSubmit = document.getElementById('ck').value;
        var thueSubmit = document.getElementById('thue').value;
        var tdkgtSubmit = document.getElementById('tdk-gt').value;
        var tdkslSubmit = document.getElementById('tdk-sl').value;
        
        if (madmSubmit == "") {
            document.getElementById('valid-madm').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-madm').textContent = "";
        if (tendmSubmit == "") {
            document.getElementById('valid-tendm').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-tendm').textContent = "";
        if (maktSubmit == "") {
            document.getElementById('valid-mahh').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-mahh').textContent = "";
        if (dvtSubmit == "") {
            document.getElementById('valid-dvt').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-dvt').textContent = "";
        if (dgbSubmit < 0) {
            document.getElementById('valid-dgb').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('valid-dgb').textContent = "";
        if (dgxSubmit < 0) {
            document.getElementById('valid-dgx').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('valid-dgx').textContent = "";
        if (tdkgtSubmit < 0) {
            document.getElementById('valid-tdk-gt').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('valid-tdk-gt').textContent = "";
        if (tdkslSubmit < 0) {
            document.getElementById('valid-tdk-sl').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('valid-tdk-sl').textContent = "";
        if (ckSubmit < 0 || 100 < ckSubmit) {
            document.getElementById('valid-ck').textContent = "Chỉ nhập từ 0 đến 100!";
            return;
        } else document.getElementById('valid-ck').textContent = "";
        if (thueSubmit < 0 || 100 < thueSubmit) {
            document.getElementById('valid-thue').textContent = "Chỉ nhập từ 0 đến 100!";
            return;
        } else document.getElementById('valid-thue').textContent = "";
        for (let i = 0; i < madm.length; i++){
            if(madm[i].Madm == madmSubmit){
                document.getElementById('valid-madm').textContent = "Bị trùng!";
                return;
            }
        }
        alert("Tạo danh mục thành công!");
        document.getElementById("form-dm").submit();

    }
    function esubmitModal() {
        var tendmSubmit = document.getElementById('e-tendm').value;
        var dvtSubmit = document.getElementById('e-dvt').value;
        var dgbSubmit = document.getElementById('e-dgb').value;
        var dgxSubmit = document.getElementById('e-dgx').value;
        var ckSubmit = parseInt(document.getElementById('e-ck').value);
        var thueSubmit = parseInt(document.getElementById('e-thue').value);
        var tdkgtSubmit = document.getElementById('e-tdk-gt').value;
        var tdkslSubmit = document.getElementById('e-tdk-sl').value;
        console.log(ckSubmit);
        if (tendmSubmit == "") {
            document.getElementById('e-valid-tendm').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-tendm').textContent = "";
        if (dvtSubmit == "") {
            document.getElementById('e-valid-dvt').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-dvt').textContent = "";
        if (dgbSubmit < 0) {
            document.getElementById('e-valid-dgb').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('e-valid-dgb').textContent = "";
        if (dgxSubmit < 0) {
            document.getElementById('e-valid-dgx').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('e-valid-dgx').textContent = "";
        if (tdkgtSubmit < 0) {
            document.getElementById('e-valid-tdk-gt').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('e-valid-tdk-gt').textContent = "";
        if (tdkslSubmit < 0) {
            document.getElementById('e-valid-tdk-sl').textContent = "Số nhập cần lớn hơn 0!";
            return;
        } else document.getElementById('e-valid-tdk-sl').textContent = "";
        if (ckSubmit < 0 || 100 < ckSubmit) {
            document.getElementById('e-valid-ck').textContent = "Chỉ nhập từ 0 đến 100!";
            return;
        } else document.getElementById('e-valid-ck').textContent = "";
        if (thueSubmit < 0 || 100 < thueSubmit) {
            document.getElementById('e-valid-thue').textContent = "Chỉ nhập từ 0 đến 100!";
            return;
        } else document.getElementById('e-valid-thue').textContent = "";
        alert("Sửa danh mục thành công!");
        document.getElementById("e-form-dm").submit();

    }

    function OpenMenu(e) {
        if (e.rowIndex != -1) {
            if (!e.items) e.items = [];
            const contextMenuItem = [
             /*   {
                    text: "Sửa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        $('#btnAdd').click();
                        document.getElementById('edit-madm').value = row.getElementsByTagName('td')[0].textContent;
                        document.getElementById('input-madm').setAttribute('readonly', true);
                        document.getElementById('input-madm').value = row.getElementsByTagName('td')[0].textContent;
                        document.getElementById('mahh').value = row.getElementsByTagName('td')[2].textContent;
                        document.getElementById('tendm').value = row.getElementsByTagName('td')[1].textContent;
                        document.getElementById('t-dgb').value = row.getElementsByTagName('td')[24].textContent;
                        document.getElementById('t-dgx').value = row.getElementsByTagName('td')[14].textContent;
                        document.getElementById('dgb').value = row.getElementsByTagName('td')[24].textContent;
                        document.getElementById('dgx').value = row.getElementsByTagName('td')[14].textContent;
                        document.getElementById('dvt').value = row.getElementsByTagName('td')[6].textContent;
                        document.getElementById('t-tdk-gt').value = 0;
                        document.getElementById('t-tdk-sl').value = 0;
                        document.getElementById('tdk-gt').value = 0;
                        document.getElementById('tdk-sl').value = 0;
                        formatAll();
                        console.log('sua');
                    }
                }, */
                {
                    text: "Xóa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
                        deleteLink.click();
                    }
                },
            ];
            contextMenuItem.forEach((item) => {
                e.items.push(item);
            })
        }
    }
    document.addEventListener('click', function (event) {
        if (!document.getElementById("list-madm-sugg").contains(event.target) && !document.getElementById("list-madm-sugg").classList.contains("d-none")) {
            hide_sugg("list-madm-sugg");
        }
    });
    function onRowInserted(e) {
        e.component.navigateToRow(e.key);
        e.component.option("focusedRowKey", e.key);
    }

    function resetModal(){
        document.getElementById('input-madm').value = null;
        document.getElementById('mahh').value = null;
        document.getElementById('tendm').value = null;
        document.getElementById('t-dgb').value = null;
        document.getElementById('t-dgx').value = null;
        document.getElementById('dgb').value = null;
        document.getElementById('dgx').value = null;
        document.getElementById('dvt').value = null;
        document.getElementById('t-tdk-gt').value = null;
        document.getElementById('t-tdk-sl').value = null;
        document.getElementById('tdk-gt').value = null;
        document.getElementById('tdk-sl').value = null;
        document.getElementById('ck').value = null;
        document.getElementById('thue').value = null;
        document.getElementById('manhom').value = null;
        document.getElementById('ten-nhom').value = null;
    }

    function formatFromNumber(int) {
        var formattedNumber = new Intl.NumberFormat('en-US').format(int);
        if (formattedNumber == "NaN") formattedNumber = 0;
        return formattedNumber;
    }

    function convertNumToText(numberString) {
        var cleanedNumberString = numberString.replace(/,/g, '');
        if (numberString == "NaN") cleanedNumberString = 0;
        return cleanedNumberString;
    }
    function formatAll(){
        document.getElementById('t-dgb').value = formatFromNumber(convertNumToText(document.getElementById('t-dgb').value));
        document.getElementById('t-dgx').value = formatFromNumber(convertNumToText(document.getElementById('t-dgx').value));
        document.getElementById('dgb').value = convertNumToText(document.getElementById('t-dgb').value);
        document.getElementById('dgx').value = convertNumToText(document.getElementById('t-dgx').value);
        document.getElementById('t-tdk-gt').value = formatFromNumber(convertNumToText(document.getElementById('t-tdk-gt').value));
        document.getElementById('t-tdk-sl').value = formatFromNumber(convertNumToText(document.getElementById('t-tdk-sl').value));
        document.getElementById('tdk-gt').value = convertNumToText(document.getElementById('t-tdk-gt').value);
        document.getElementById('tdk-sl').value = convertNumToText(document.getElementById('t-tdk-sl').value);
    }
    function eformatAll() {
        document.getElementById('e-t-dgb').value = formatFromNumber(convertNumToText(document.getElementById('e-t-dgb').value));
        document.getElementById('e-t-dgx').value = formatFromNumber(convertNumToText(document.getElementById('e-t-dgx').value));
        document.getElementById('e-dgb').value = convertNumToText(document.getElementById('e-t-dgb').value);
        document.getElementById('e-dgx').value = convertNumToText(document.getElementById('e-t-dgx').value);
        document.getElementById('e-t-tdk-gt').value = formatFromNumber(convertNumToText(document.getElementById('e-t-tdk-gt').value));
        document.getElementById('e-t-tdk-sl').value = formatFromNumber(convertNumToText(document.getElementById('e-t-tdk-sl').value));
        document.getElementById('e-tdk-gt').value = convertNumToText(document.getElementById('e-t-tdk-gt').value);
        document.getElementById('e-tdk-sl').value = convertNumToText(document.getElementById('e-t-tdk-sl').value);
    }
    document.getElementById('exampleModal').onkeypress = function (e) {
        var inputTo; 
        var input = document.getElementById("mahh");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("tendm");
                inputTo.select();
            }
        });
        input = document.getElementById("tendm");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-dgb");
                inputTo.select();
            }
        });
        
        input = document.getElementById("t-dgb");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-dgx");
                inputTo.select();
            }
        });
        input = document.getElementById("t-dgx");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("dvt");
                inputTo.select();
            }
        });
        input = document.getElementById("dvt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-tdk-sl");
                inputTo.select();
            }
        });
        input = document.getElementById("t-tdk-sl");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-tdk-gt");
                inputTo.select();
            }
        });
        input = document.getElementById("t-tdk-gt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("ck");
                inputTo.select();
            }
        });
        input = document.getElementById("ck");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("thue");
                inputTo.select();
            }
        });
        input = document.getElementById("thue");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("manhom");
                inputTo.select();
            }
        });
        input = document.getElementById("manhom");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("ten-nhom");
                inputTo.select();
            }
        });
    }

    document.getElementById('editModal').onkeypress = function (e) {
        var inputTo;
        var input = document.getElementById("e-tendm");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-t-dgb");
                inputTo.select();
            }
        });

        input = document.getElementById("e-t-dgb");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-t-dgx");
                inputTo.select();
            }
        });
        input = document.getElementById("e-t-dgx");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-dvt");
                inputTo.select();
            }
        });
        input = document.getElementById("e-dvt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-t-tdk-sl");
                inputTo.select();
            }
        });
        input = document.getElementById("e-t-tdk-sl");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-t-tdk-gt");
                inputTo.select();
            }
        });
        input = document.getElementById("e-t-tdk-gt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-ck");
                inputTo.select();
            }
        });
        input = document.getElementById("e-ck");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-thue");
                inputTo.select();
            }
        });
        input = document.getElementById("e-thue");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-manhom");
                inputTo.select();
            }
        });
        input = document.getElementById("e-manhom");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-ten-nhom");
                inputTo.select();
            }
        });
    }

</script>
