@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WebAccountant.ModelsLogin.KTSCColumn>
@{
    Html.RenderPartial("../Home/Header");
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            @*Navbar Here*@
            @* <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex" style="margin: 10px">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm</button>
                    </div>
                    <div class="d-flex" style="margin: 10px">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#settingModal">
                            <img src="~/img/setting.png" style="width: 25px; height: auto" />
                        </button>
                    </div>
                </div>
            </nav> *@

            @*Modal*@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Thêm Hàng Hóa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 text-start">
                                            <label for="mahh" class="col-form-label">Luong Ctua:</label>
                                            <input type="text" class="form-control" id="mahh">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgb1" class="col-form-label">Dgvnd:</label>
                                            <input type="text" class="form-control" id="dgb1">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgb3" class="col-form-label">Pt Ck:</label>
                                            <input type="text" class="form-control" id="dgb3">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgb5" class="col-form-label">Thuevnd:</label>
                                            <input type="text" class="form-control" id="dgb5">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="sltdk" class="col-form-label">Dgvon:</label>
                                            <input type="text" class="form-control" id="sltdk">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Lai Gop:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Ttusd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Ttusd Tt:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Thang:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tienhang:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Col 11:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Col 13:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Dg Gc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Id Chungtu:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Stt Tt:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Thueeur:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tnk Vnd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tt Gc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tteur:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Luong 1:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Stt Bt:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Pt Ck 2:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Soct N:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Ttmausac:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3 text-start">
                                            <label for="dvt" class="col-form-label">Luong:</label>
                                            <input type="text" class="form-control" id="dvt">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgb2" class="col-form-label">Ttvnd:</label>
                                            <input type="text" class="form-control" id="dgb2">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgb4" class="col-form-label">Chietkhau:</label>
                                            <input type="text" class="form-control" id="dgb4">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgm" class="col-form-label">Ttvnd Tt:</label>
                                            <input type="text" class="form-control" id="dgm">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="gtdk" class="col-form-label">Gtvon:</label>
                                            <input type="text" class="form-control" id="gtdk">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tygia:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Thueusd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Stt Sc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Dgusd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Dontrong:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Col 12:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Chietkhau Usd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Dg Vc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Sl Gc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Thang N:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tnk Usd:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Ts Nk:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Tt Vc:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Hsqd Dvt:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Luong 2n:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Chietkhau 2:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Stt Sapxep:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dgv" class="col-form-label">Dgmausac:</label>
                                            <input type="text" class="form-control" id="dgv">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary">Thêm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" style="max-width: 800px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Cài đặt cột hiển thị</h5>
                            <div>
                            <button type="button" class="btn btn-primary" style="right : 0" onclick="CheckedAll()">Chọn tất cả</button>
                                <button type="button" class="btn btn-secondary" style="margin : 5px" onclick="UnCheckedAll()">Bỏ chọn tất cả</button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                            </div>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <form style="display: inline-table" method="post" asp-controller="Ktscs" asp-action="SubmitKTSCColunm">
                                @for(int i=0; i<32; i++)
                                {
                                    <div style="display : flex">
                                    @foreach (var item in Model.Skip(i*5).Take(5))
                                    {
                                            var attribute = (List<WebAccountant.ModelsLogin.UserKTSCColumn>)ViewData["attribute"];

                                            if(attribute.Any(s=>s.KTSCColumnId == item.Id))
                                            {
                                                <div style="display : inline-table; margin: 10px; align-content: flex-start">
                                                    <input type="checkbox" class="myCheck" id="myCheck" value="@item.Id" name="ids[@Model.ToList().IndexOf(item)]" checked /> @item.Description
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="display : inline-table; margin: 10px; align-content: flex-start">
                                                    <input type="checkbox" class="myCheck" id="myCheck" value="@item.Id" name="ids[@Model.ToList().IndexOf(item)]" /> @item.Description
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>

            @*Data Here*@
           @*  @(Html.DevExtreme().DataGrid<WebAccountant.ModelsBase.Ktsc>()
                .DataSource(ds => ds.Mvc()
                .Controller("Ktscs")
                .LoadAction("Get")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("SttSc")
                )
                .RemoteOperations(true).FocusedRowEnabled(true)
                .Columns(columns =>
                {
                    
                    columns.AddFor(m => m.Lctg).Fixed(true);

                    columns.AddFor(m => m.SrHd).Caption("Số seri hóa đơn");

                    columns.AddFor(m => m.SoHd).Caption("Số hóa đơn");

                    columns.AddFor(m => m.NgayHd).Caption("Ngày hóa đơn");

                    columns.AddFor(m => m.Soct).Caption("Số chứng từ");

                    columns.AddFor(m => m.SoPc);

                    columns.AddFor(m => m.Ngayct).Caption("Ngày chứng từ");

                    columns.AddFor(m => m.Diengiai).Caption("Diễn giải");

                    columns.AddFor(m => m.Tkno);

                    columns.AddFor(m => m.Madtpnno);

                    columns.AddFor(m => m.Maytcpno);

                    columns.AddFor(m => m.Madmno);

                    columns.AddFor(m => m.LoNhap);

                    columns.AddFor(m => m.Tkco);

                    columns.AddFor(m => m.Madtpnco);

                    columns.AddFor(m => m.Maytcpco);

                    columns.AddFor(m => m.Madmco);

                    columns.AddFor(m => m.LoXuat);

                    columns.AddFor(m => m.MaCt);

                    columns.AddFor(m => m.Madtgt);

                    columns.AddFor(m => m.Tendm).Caption("Tên mặt hàng").Fixed(true);

                    columns.AddFor(m => m.DonviCtu).Caption("Đơn vị chứng từ");

                    columns.AddFor(m => m.Donvi).Caption("Đơn vị");

                    columns.AddFor(m => m.LuongCtu);

                    columns.AddFor(m => m.Luong);

                    columns.AddFor(m => m.Dgvnd).Caption("Đơn giá");

                    columns.AddFor(m => m.Ttvnd);

                    columns.AddFor(m => m.PtCk);

                    columns.AddFor(m => m.Chietkhau).Caption("Chiết khấu");

                    columns.AddFor(m => m.Hdvat);

                    columns.AddFor(m => m.Tkthue);

                    columns.AddFor(m => m.TsGtgt);

                    columns.AddFor(m => m.Thuevnd).Caption("Thuế thành tiền");

                    columns.AddFor(m => m.TtvndTt);

                    columns.AddFor(m => m.Mathang).Caption("Mặt hàng");

                    columns.AddFor(m => m.Makh).Caption("Mã khách hàng");

                    columns.AddFor(m => m.Tenkh).Caption("Tên khách hàng");

                    columns.AddFor(m => m.MsDn).Caption("Mã số doanh nghiệp");

                    columns.AddFor(m => m.Diachi).Caption("Địa chỉ");

                    columns.AddFor(m => m.DiachiNgd);

                    columns.AddFor(m => m.Khachhang).Caption("Khách hàng");

                    columns.AddFor(m => m.Ghichu);

                    columns.AddFor(m => m.NvBan);

                    columns.AddFor(m => m.Dgvon);

                    columns.AddFor(m => m.Gtvon);

                    columns.AddFor(m => m.LaiGop).Caption("Lãi góp");

                    columns.AddFor(m => m.Tygia);

                    columns.AddFor(m => m.Soctgs);

                    columns.AddFor(m => m.Ngayctgs);

                    columns.AddFor(m => m.SttSc);

                    columns.AddFor(m => m.DtNhan);

                    columns.AddFor(m => m.DtXuat);

                    columns.AddFor(m => m.Thang);

                    columns.AddFor(m => m.SoHopdong);

                    columns.AddFor(m => m.Mauser).Caption("Mã user");

                    columns.AddFor(m => m.NgayDaoHan);

                    columns.AddFor(m => m.Tienhang);

                    columns.AddFor(m => m.Dontrong);

                    columns.AddFor(m => m.Danhdau);

                    columns.AddFor(m => m.Trangthai);

                    columns.AddFor(m => m.DgGc);

                    columns.AddFor(m => m.DgVc);

                    columns.AddFor(m => m.Hansudung);

                    columns.AddFor(m => m.IdChungtu);

                    columns.AddFor(m => m.Model);

                    columns.AddFor(m => m.Nhacungcap);

                    columns.AddFor(m => m.Nhasanxuat);

                    columns.AddFor(m => m.ThangN);

                    columns.AddFor(m => m.Thueeur);

                    columns.AddFor(m => m.TkChietkhau);

                    columns.AddFor(m => m.TkXuatkho);

                    columns.AddFor(m => m.HsqdDvt);

                    columns.AddFor(m => m.SttBt);

                    columns.AddFor(m => m.IdNghiepvu).Caption("ID Nghiệp vụ");

                    columns.AddFor(m => m.Machinhanh);

                    columns.AddFor(m => m.SttSapxep);

                    columns.AddFor(m => m.Guid);

                    columns.AddFor(m => m.Thoigiannhap).Caption("Thời gian nhập");

                    columns.AddFor(m => m.Kyduyet);

                    columns.AddFor(m => m.SoctN);
                })
                .ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                .ShowBorders(true)
                .RowAlternationEnabled(true)
                .Editing(e =>
                {
                    e.Mode(GridEditMode.Batch)
                    .AllowUpdating(true).UseIcons(true)
                    .AllowDeleting(true);
                    e.SelectTextOnEditStart(true);
                    e.StartEditAction(GridStartEditAction.DblClick);
                })
                .Paging(paging => paging.PageSize(15))
                .Pager(pager =>
                {
                    pager.Visible(true);
                    pager.DisplayMode(GridPagerDisplayMode.Compact);
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                    pager.ShowInfo(true);
                    pager.ShowNavigationButtons(true);
                })
                .OnRowInserted("onRowInserted")
                .OnContextMenuPreparing("OpenMenu").ID("grid")
                ) *@
            @(
                Html.DevExtreme().DataGrid()
                                        .ID("gridContainer")
                                        .Columns(columns =>
                                        {
                                            var attribute = ViewData["attribute"];
                                            foreach (var att in (List<WebAccountant.ModelsLogin.UserKTSCColumn>)attribute)
                                            {
                                                var atrii = att.KTSCColumn.Name.Substring(0, 1).ToUpper() + att.KTSCColumn.Name.Substring(1).ToLower();
                                                var splits = atrii.Split("_");
                                                if(splits.Length > 1)
                                                {
                                                    atrii = "";
                                                    foreach(var split in splits)
                                                    {
                                                        atrii += split.Substring(0, 1).ToUpper() + split.Substring(1).ToLower();
                                                    }
                                                }
                                                if (atrii == "NgayHd" || atrii == "Ngayct" || atrii == "Ngayctgs" || atrii == "NgayDaoHan" || atrii == "NgayTt")
                                                {
                                                    columns.Add().DataField(atrii).Caption(att.KTSCColumn.Description).DataType(GridColumnDataType.Date);
                                                }
                                                else
                                                {
                                                    columns.Add().DataField(atrii).Caption(att.KTSCColumn.Description).Format("0,###");
                                                }
                                            }
                })
                .DataSource(d => d.StaticJson().Url(@Url.Action("GetData", "Ktscs")).Key("SttSc"))
                .ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                .RowAlternationEnabled(true).WordWrapEnabled(true)
                .ShowBorders(true).Paging(paging => paging.PageSize(10))
                .Pager(pager =>
                {
                    pager.Visible(true);
                    pager.DisplayMode(GridPagerDisplayMode.Compact);
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                    pager.ShowInfo(true);
                    pager.ShowNavigationButtons(true);
                })
                )
            <div class="footer-data d-flex justify-content-start">
                <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button>
                <button class="btn btn-primary width-100" type="button" onclick="onEdit()">Sửa</button>
                <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    function OpenMenu(e) {
        if (e.rowIndex != -1) {
            if (!e.items) e.items = [];
            const contextMenuItem = [
                {
                    text: "Sửa",
                    onItemClick: function (args) {
                        $('#btnAdd').click();
                    }
                },
                {
                    text: "Xóa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
                        deleteLink.click();
                    }
                },
            ];
            contextMenuItem.forEach((item) => {
                e.items.push(item);
            })
        }
    }

    function onRowInserted(e) {
        e.component.navigateToRow(e.key);
        e.component.option("focusedRowKey", e.key);
    }
    function CheckedAll(e) {
        $(".myCheck").each(function () {        
                this.checked = true
        });
    }
    function UnCheckedAll(e) {
        $(".myCheck").each(function () {
            this.checked = false
        });
    }
    $.ajax({
        url: '@Url.Action("GetUserKTSCColumn", "Ktscs")',
        type: 'GET',
        success: function (result) {
            attribute = result;
            console.log(attribute)
        }
    });
</script>