@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAccountant.Models.FormBanHangDTO
@{
    Html.RenderPartial("../Home/Header");
}
<div id="bground">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content mua-page">
            <nav id="navne" class="navbar navbar-expand-lg navbar-light bg-light d-flex t-s-14">
                <div class="container-fluid" >
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navSell" aria-controls="navSell" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navSell">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active t-s-16" id="data-link" aria-current="page" href="#">Danh sách</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <select class="form-select t-s-13 height-30" id="sl-date" style="padding: 0.345rem 2.25rem 0.345rem 0.75rem" onchange="fastDate()">
                                <option value="0" class="t-s-13">Chọn nhanh</option>
                                <option value="1" class="t-s-13">Hôm nay</option>
                                <option value="2" class="t-s-13">Tháng này</option>
                                <option value="3" class="t-s-13">Năm này</option>
                            </select>
                            <div class="d-flex justify-content-between width-150" style="margin-left:20px;">
                                <label for="date-from" class="col-form-label weight-600">Từ:</label>
                                <input id="date-from" class="form-control width-pt-75 t-s-13 height-30" type="date" />
                            </div>
                            <div class="d-flex justify-content-between width-150" style="margin-right:15px; margin-left:15px">
                                <label for="date-to" class="col-form-label weight-600">Đến:</label>
                                <input id="date-to" class="form-control width-pt-75 t-s-13 height-30" type="date" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary height-30 width-80 t-s-13" onclick="confirmDate()">Xác nhận</button>
                            </div>
                            <div class="d-flex justify-content-center" style="margin-left:10px">
                                <button type="button" class="btn btn-secondary height-30 t-s-13 width-80" onclick="resetDate()">Cài lại</button>
                            </div>
                        </div>
                    </div>
                    <div class="width-80">
                        <button class="btn btn-primary height-30 t-s-13 width-80 d-none" id="backBtn" onclick="backList()" type="button">
                            Quay lại
                        </button>
                    </div>
                </div>
            </nav>
            <div id="mua-data">
                <div class="table-data">
                    <table id="data-tb" class="table-text text-menu">
                        <tr id="tr-1">
                            <td>Ngày chứng từ</td>
                            <td>Số chứng từ</td>
                            <td>Hình thức thanh toán</td>
                            <td>Thành tiền</td>
                            <td>CkPhantram</td>
                            <td>Chiết khấu thành tiền</td>
                            <td>Tổng tiền</td>
                            <td>Khtratien</td>
                            <td>Mã khách hàng</td>
                            <td class="width-200">Tên khách hàng</td>
                            <td>Mã số thuế</td>
                            <td class="width-200">Địa chỉ</td>
                            <td>Ghi chú</td>
                            <td>Nhân viên bán</td>
                        </tr>
                        <tr>
                            <td colspan="14" class="text-center" style="height:200px">Data đang được tải lên...</td>
                        </tr>
                    </table>
                    
                </div>
                <table id="table-tong" class="table-text">
                    <tr class="height-30">
                        <td class="t-s-13 weight-700 width-150">Tổng số tiền</td>
                        <td class="t-s-13 width-200 text-end" style="padding-right:10px" id="tong-data-st">0</td>
                        <td class="t-s-13 weight-700 width-150">Tổng tiền chiết khấu</td>
                        <td class="t-s-13 width-200 text-end" style="padding-right:10px" id="tong-data-ck">0</td>
                        <td class="t-s-13 weight-700 width-150">Tổng thành tiền</td>
                        <td class="t-s-13 width-200 text-end" style="padding-right:10px" id="tong-data-thanhtien">0</td>
                    </tr>
                </table>
                <div class="footer-data d-flex justify-content-start">
                    <button class="btn btn-primary width-100" id="themBtn" onclick="orderOut()" type="button">Thêm</button>
                    <button class="btn btn-primary width-100" type="button" onclick="edit()">Sửa</button>
                    <button class="btn btn-primary width-100" type="button" onclick="xoaOrder()">Xóa</button>
                    <button class="btn btn-primary width-100" type="button" onclick="inOrder()">In</button>
                </div>
                <div id="rightMenu" style="display: none; position: absolute; z-index:30;">
                    <ul>
                        <li class="nav-item"><a class="btn" href="#" id="sua">Sửa</a></li>
                        <li class="nav-item"><a class="btn" href="#" id="xoa">Xóa</a></li>
                    </ul>
                </div>
            </div>
            <div id="edit-page" class="d-none"></div>
            <form id="myForm" class="d-none" asp-controller="Ktdms" asp-action="SubmitCartToSave">
                <div class="top-content">
                    @*Content*@
                    <div class="row">
                        @*Forms*@
                        <div class="mua-form col-8">
                            @*Phieu nhap*@
                            <div id="phieu-nhap" class="row">
                                <div id="infor-phieu-nhap" class="col-9">
                                    <div class="row">
                                        <div class="col-4 col-num-1" style="padding-bottom:5px">
                                            <div class=" text-start">
                                                <label for="input-makh" class="col-form-label">Mã khách hàng:</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="width-pt-80">
                                                    <input type="text"
                                                           class="form-control input-sugg"
                                                           id="input-makh"
                                                           autofocus="autofocus"
                                                           placeholder="Nhập khách hàng..."
                                                           autocomplete="off"
                                                           asp-for="Makh"
                                                           onkeyup="SearchNow('list-makh-sugg','input-makh','list-makh-sugg')" />
                                                    <span class="error-msg" asp-validation-for="Makh"></span>
                                                    </div>
                                                    <div class="width-20" style="height:100%" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <svg class="add-kh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="green" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" /></svg>
                                                    </div>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl">
                                                            <div class="modal-content add-kh-form">
                                                                    <div class="add-kh-form-header d-flex justify-content-between">
                                                                        <h6 class="modal-title main-color" id="exampleModalLabel">Thêm khách hàng</h6>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                <div class="add-kh-form-body">
                                                                    <div class="main-body row">
                                                                        <div class="col-3">
                                                                            <div class=" text-start">
                                                                                <label for="makh-add" class="col-form-label">Mã khách hàng:</label>
                                                                                <input type="text"
                                                                                       id="makh-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                            <div class=" text-start">
                                                                                <label for="msdn-add" class="col-form-label">Mã số doanh nghiệp:</label>
                                                                                <input type="text"
                                                                                       id="msdn-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-7">
                                                                            <div class=" text-start">
                                                                                <label for="tenkh-add" class="col-form-label">Tên khách hàng:</label>
                                                                                <input type="text"
                                                                                       id="tenkh-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                            <div class=" text-start">
                                                                                <label for="dc-add" class="col-form-label">Địa chỉ:</label>
                                                                                <input type="text"
                                                                                       id="dc-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class=" text-start">
                                                                                <label for="dt-add" class="col-form-label">Số điện thoại:</label>
                                                                                <input type="text"
                                                                                       id="dt-add"
                                                                                       class="form-control"
                                                                                       autofocus="autofocus"
                                                                                       autocomplete="off" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                    <div class="add-kh-form-footer d-flex justify-content-end">
                                                                        <button type="button" class="t-s-13 btn btn-outline-secondary mar-5" data-bs-dismiss="modal">Đóng</button>
                                                                    <button type="button" class="t-s-13 btn btn-outline-success mar-5">Lưu</button>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-container">
                                                    <table id="list-makh-sugg" class="sugg-container d-none">
                                                        <tr id="tr-1">
                                                            <td class="width-120">Mã khách hàng</td>
                                                            <td class="width-250">Tên khách hàng</td>
                                                            <td class="width-120">Mã số doanh nghiệp</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class=" text-start">
                                                <label for="masodn" class="col-form-label">Mã số doanh nghiệp:</label>
                                                <input type="text" class="form-control" id="masodn" readonly>
                                            </div>
                                            <div class="text-start">
                                                <label for="input-manv" class="col-form-label">Mã nhân viên:</label>
                                                <input type="text"
                                                       class="form-control input-sugg"
                                                       id="input-manv"
                                                       placeholder="Nhập nhân viên..."
                                                       autofocus="autofocus"
                                                       onkeyup="SearchNow('list-manv-sugg','input-manv','list-manv-sugg')" />
                                                <div class="table-container">
                                                    <table id="list-manv-sugg" class="sugg-container d-none">
                                                        <tr id="tr-1">
                                                            <td class="width-120">Mã nhân viên</td>
                                                            <td class="width-250">Tên nhân viên</td>
                                                            <td class="width-120">Tên phòng ban</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="text-start">
                                                <label for="tennv" class="col-form-label">Tên nhân viên:</label>
                                                <input type="text" class="form-control" id="tennv" readonly>
                                            </div>
                                            <div class="text-start">
                                                <label for="tennvgh" class="col-form-label">Tên nhân viên giao:</label>
                                                <input type="text" class="form-control" id="tennvgh" readonly>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class=" text-start">
                                                <label for="tenkh" class="col-form-label">Tên khách hàng:</label>
                                                <input type="text" class="form-control" id="tenkh" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="dc" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="dc" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="dcgh" class="col-form-label">Địa chỉ giao hàng:</label>
                                                <input type="text" class="form-control" id="dcgh" readonly>
                                            </div>
                                            <div class=" text-start">
                                                <label for="ck" class="col-form-label">Chiết khấu cho tất cả (%):</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="number" class="form-control width-pt-80" id="ckChung" min="0" max="100" asp-for="PtChietKhau">
                                                    <button class="btn btn-primary b-radius-3 height-30 t-s-12 width-pt-15" type="button" onclick="onCkChung()">Xong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="id-phieu-nhap" class="col-3 col-num-2">
                                    <div class=" text-start">
                                        <label for="ht" class="col-form-label">Ngày hóa đơn</label>
                                    <input type="datetime-local" class="form-control" asp-for="NgayHToan" id="ht" value="@DateTime.UtcNow.AddHours(7).ToString("s")">
                                    <input type="datetime-local" class="form-control" asp-for="NgayCtu" id="ht" value="@DateTime.UtcNow.AddHours(7).ToString("s")" hidden>
                                    </div>
                                    <div class=" text-start">
                                        <label for="sohd" class="col-form-label">Số hóa đơn:</label>
                                        <input type="text" class="form-control" id="sohd" readonly>
                                    </div>
                                    <div class=" text-start">
                                        <label for="sosr" class="col-form-label">Số seri:</label>
                                        <input type="text" class="form-control" id="sosr" readonly>
                                    </div>
                                    <div class=" text-start">
                                        <label for="httt" class="col-form-label">Hình thức thanh toán</label>
                                        <select class="form-select b-radius-3 height-30 width-pt-100 t-s-12" asp-for="HthucThanhToan">
                                            <option value="1">Thanh toán trực tiếp</option>
                                            <option value="2">Nợ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Tong tien*@
                        <div class="col-4 bill row">
                            <div class="t-s-13">
                                <table class="width-pt-100">
                                    <tr>
                                        <td class="weight-600">Tiền hàng</td>
                                        <td class="text-end weight-600" id="tong-hang">0</td>
                                    <tr />
                                    <tr>
                                        <td class="weight-600">Tiền thuế</td>
                                        <td class="text-end weight-600" id="tong-thue">0</td>
                                    <tr />
                                    <tr style="border-bottom: 1px solid #ddd;">
                                        <td class="weight-600">Tiền chiết khấu</td>
                                        <td class="text-end weight-600" id="tong-ck">0</td>
                                    <tr />
                                    <tr>
                                        <td class="weight-700 t-s-16">Tổng thanh toán</td>
                                        <td class="text-end weight-700 t-s-18" id="tong-thanh-tien">0</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="table-data2">
                    @*List product *@
                    <table id="list-dm" class="table-text">
                            <tr class="table-menu" id="tr-1">
                                <td class="t-center">#</td>
                                <td class="nowr"><div class="resizable-1" style="min-width:120px;">Mã mặt hàng</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:200px;">Tên mặt hàng</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px; max-width:70px;">Đơn vị</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px;">Số lượng</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px;">Đơn giá</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px;">Thành tiền</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:90px;">Chiết khấu (%)</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:100px;">Chiết khấu (VND)</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px;">Thuế (%)</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:70px;">Thuế (VND)</div></td>
                                <td class="nowr"><div class="resizable-1" style="min-width:100px;">Tiền thanh toán</div></td>
                                <td class="nowr">Hành động</td>
                            </tr>
                            <tr id="tr1">
                                <td class="t-center td-index">1</td>
                            <td>
                                <input type="text"
                                       class="form-control input-sugg"
                                       id="input-madm-1"
                                       style="width:100%"
                                       autofocus="autofocus"
                                       autocomplete="off"
                                       placeholder="Nhập mặt hàng..."
                                       style="resize:horizontal"
                                       asp-for="ktdmDTOs[0].Madm"
                                       onkeyup="SearchNow('list-madm-sugg-1','input-madm-1','list-madm-sugg-1')" />
                                <div class="table-container">
                                    <table id="list-madm-sugg-1" class="sugg-container d-none">
                                        <tr id="tr-1">
                                            <td class="width-120 t-s-12">Mã danh mục</td>
                                            <td class="width-250 t-s-12">Tên danh mục</td>
                                            <td class="width-90 t-s-12">Số lượng tồn</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <input style="width:100%" type="text" class="form-control" id="input-tendm-1" asp-for="ktdmDTOs[0].Tendm" readonly />
                                <input type="text" class="form-control" id="input-matk-1" asp-for="ktdmDTOs[0].Matk" hidden readonly />
                            </td>
                            <td>
                                <div id="ip-donvi-1"> </div>
                                <input type="text" class="form-control" id="input-donvi-1" asp-for="ktdmDTOs[0].Donvi" hidden readonly />
                             </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="soluong-1" onchange="formatNumber(this.id)" />
                                    <input type="number" class="form-control text-end" id="input-soluong-1" asp-for="ktdmDTOs[0].Soluong" min="1" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" id="dongia-1" type="text" class="form-control text-end" onchange="formatNumber(this.id)" />
                                    <input type="number" id="input-dongia-1" asp-for="ktdmDTOs[0].Dgban" min="0" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="input-tientong-1" readonly/>
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="ck-1" min="0" max="100" onchange="formatNumber(this.id)" />
                                    <input type="number" class="form-control text-end" id="input-ck-1" asp-for="ktdmDTOs[0].PtChietKhau" min="0" max="100" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="ck-vnd-1" min="0" onchange="lamTron(1)" />
                                    <input type="number" class="form-control text-end" id="input-ck-vnd-1" asp-for="ktdmDTOs[0].ChietKhauThanhTien" min="0" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="thue-1" min="0" max="100" onchange="formatNumber(this.id)" />
                                    <input type="number" class="form-control text-end" id="input-thue-1" asp-for="ktdmDTOs[0].PtThue" min="0" max="100" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control text-end" id="thue-vnd-1" min="0" onchange="lamTron(1)" />
                                    <input type="number" class="form-control text-end" id="input-thue-vnd-1" asp-for="ktdmDTOs[0].ThueThanhTien" min="0" hidden />
                                </td>
                                <td>
                                    <input style="width:100%" type="text" class="form-control" id="input-thanhtien-1" readonly />
                                </td>
                            <td class="t-center"><a onClick="xoaDm('tr1')" class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td>
                        </tr>
                    </table>
                    </div>
                    <div class="footer-data2 buttons d-flex justify-content-between mar-5">
                        <div>
                            <button class="btn btn-success t-s-12 height-30" id="addDm" onclick="themDm()" type="button">Thêm mặt hàng</button>
                            <button class="btn btn-danger t-s-12 height-30" onclick="xoaHet()" type="button">Xóa hết</button>
                        </div>
                        <div>
                            <button class="btn btn-warning t-s-12 height-30" id="exportBill" onclick="exportPDF()" type="button">Xuất hóa đơn</button>
                            <button class="btn btn-primary t-s-12 height-30" id="saveButton" type="button" onclick="submitForm()">Lưu đơn bán</button>
                        </div>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                let count = 1;
                let index = 1;
                var exist = [];
                exist.push(1);
                var data = [];
                var madmItems = []
                var element;

                let ptCkChung = 0;
                let isCkChung = false;

                ////FUNCTION/////////////////////////////////////////
                function submitForm() {
                    const myForm = document.getElementById('myForm');
                    if (madmItems.length == 0) alert("Hãy chọn mặt hàng!");
                    if (madmItems.length != 0 && makhItems.length == 0) alert("Hãy chọn khách hàng!");
                    if (madmItems.length != 0 && makhItems.length != 0 && manvItems.length == 0) alert("Hãy chọn nhân viên!");
                    if (madmItems.length != 0 && makhItems.length != 0 && manvItems.length != 0) myForm.submit();
                }
                function tongData() {
                    var tst = 0, tck = 0, tthanhtien = 0;
                    for (let i = 0; i < fil.length; i++) {
                        tst += parseInt(fil[i].TongTien);
                        tck += parseInt(fil[i].CkThanhTien);
                        tthanhtien += parseInt(fil[i].ThanhTien);
                    }
                    document.getElementById("tong-data-st").textContent = formatFromNumber(tst);
                    document.getElementById("tong-data-ck").textContent = formatFromNumber(tck);
                    document.getElementById("tong-data-thanhtien").textContent = formatFromNumber(tthanhtien);
                }

                function getDataGridInstance() {
                    let element = $("#grid-container");
                    return DevExpress.ui.dxDataGrid.getInstance(element);
                }
                async function save() {
                    $("#grid-container div [role='button']")[0].click();
                }
                function tinhTien(rowIndex) {
                    var sl = document.getElementById("input-soluong-" + rowIndex).value;
                    var dgia = $(`#input-dongia-${rowIndex}`)[0].value;
                    var ck = $(`#input-ck-${rowIndex}`)[0].value;
                    var thue = $(`#input-thue-${rowIndex}`)[0].value;
                    for (let i = 0; i < madmItems.length; i++) {
                        var tr = document.getElementById("tr" + rowIndex);
                        if (madmItems[i].trId == ("tr" + rowIndex)) {
                            madmItems[i].Soluong = parseInt(sl);
                            madmItems[i].Dgban = parseInt(dgia);
                            madmItems[i].PtChietkhau = parseInt(ck);
                            madmItems[i].PtThue = parseInt(thue);
                            var tientong = parseFloat(sl) * parseFloat(dgia);
                            tr.querySelector('#input-tientong-' + rowIndex).value = formatFromNumber(parseFloat(tientong).toFixed(0));
                            var ckVnd = madmItems[i].Soluong * madmItems[i].Dgban * madmItems[i].PtChietkhau / 100;
                            tr.querySelector('#input-ck-vnd-' + rowIndex).value = parseFloat(ckVnd).toFixed(0);
                            var thueVnd = madmItems[i].Soluong * (madmItems[i].Dgban * (1 - madmItems[i].PtChietkhau / 100)) * madmItems[i].PtThue / 100;
                            tr.querySelector('#input-thue-vnd-' + rowIndex).value = parseFloat(thueVnd).toFixed(0);
                            var thanhtien = madmItems[i].Soluong * (madmItems[i].Dgban * (1 - madmItems[i].PtChietkhau / 100)) * (1 + madmItems[i].PtThue / 100);
                            tr.querySelector('#input-thanhtien-' + rowIndex).value = formatFromNumber(parseFloat(thanhtien).toFixed(0));
                            break;
                        }
                    }
                    setNumToText(rowIndex);
                    countTotal();
                    loadBill();
                }
                function lamTron(rowIndex) {
                    var sl = document.getElementById("input-soluong-" + rowIndex).value;
                    var dgia = $(`#input-dongia-${rowIndex}`)[0].value;
                    var tr = document.getElementById("tr" + rowIndex);
                    tr.querySelector('#input-ck-vnd-' + rowIndex).value = convertNumToText(document.getElementById('ck-vnd-' + rowIndex).value);
                    console.log(convertNumToText(document.getElementById('ck-vnd-' + rowIndex).value) + "ck");
                    var ckVnd = tr.querySelector('#input-ck-vnd-' + rowIndex).value;
                    document.getElementById("input-ck-vnd")
                    tr.querySelector('#input-thue-vnd-' + rowIndex).value = convertNumToText(document.getElementById('thue-vnd-' + rowIndex).value);
                    var thueVnd = tr.querySelector('#input-thue-vnd-' + rowIndex).value;
                    var thanhtien = parseFloat(sl).toFixed(0) * parseFloat(dgia).toFixed(0) - parseFloat(ckVnd).toFixed(0);
                    thanhtien = parseFloat(parseFloat(thanhtien).toFixed(0)) + parseFloat(parseFloat(thueVnd).toFixed(0));
                    tr.querySelector('#input-thanhtien-' + rowIndex).value = formatFromNumber(parseFloat(thanhtien).toFixed(0));
                    countTotal();
                    loadBill();
                }

                async function selection_changed(selectedItems) {
                    var dataGrid = getDataGridInstance();
                    data = selectedItems.selectedRowsData;
                    $('#bill-list .bill-product-name').empty();
                    $.each(data, function (i, product) {
                        if (product.Donvi != "") {
                            $('#bill-list .bill-content').append('<div class="bill-product d-flex justify-content-between">' + '<div class="product-name">' + product.Tendm + '</div><div class="product-number">' + product.Soluong + '</div></div>')
                        }
                    });
                }


                function Updated() {
                }
                

                function SearchNow(idSugg, idInput, idUl) {
                    document.getElementById(idSugg).classList.remove("d-none");
                    var input, filter, ul, li, a, i;
                    input = document.getElementById(idInput);
                    filter = input.value.toUpperCase();
                    ul = document.getElementById(idUl);
                    li = ul.getElementsByTagName('li');

                    var table = document.getElementById(idSugg);
                    var tr = table.getElementsByTagName('tr');
                    for (i = 1; i < tr.length; i++) {
                        var tdMa = tr[i].getElementsByTagName("td")[0];
                        var maValue = tdMa.textContent || tdMa.innerText;
                        var tdTen = tr[i].getElementsByTagName("td")[1];
                        var tenValue = tdTen.textContent || tdTen.innerText;

                        if (maValue.toUpperCase().indexOf(filter) > -1 || tenValue.toUpperCase().indexOf(filter) > -1) {
                            var isNone = false;
                            for (let u = 0; u < madmItems.length; u++) {
                                if (maValue.toUpperCase() == madmItems[u].Madm.toUpperCase()) {
                                    tr[i].style.display = "none";
                                    isNone = true;
                                    break;
                                }
                            }
                            if (!isNone) tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }

                var madm = [
                    {
                        Madm: "",
                        Tendm: "",
                        TonT: ""
                    }
                ];
                $.ajax({
                    url: '@Url.Action("Get", "Ktdms")',
                    type: 'GET',
                    success: function (result) {
                        if (result.data.length > 0) {
                            madm = result.data;
                            for (var i = 0; i < madm.length; i++) {
                                const list = document.getElementById("list-madm-sugg-" + count);
                                list.insertAdjacentHTML('beforeend', `
                                                                <tr class="tr-sugg" onclick="madmChooseItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                                `);
                            }
                        }
                    }
                });

                function madmChooseItem(id, item) {
                    hide_sugg("list-madm-sugg-" + id.substring(2, 10));
                    var chietkhau = 0;
                    if (isCkChung == true) chietkhau = ptCkChung;
                    var addItem = JSON.parse(decodeURIComponent(item));
                    var madmDTO = {
                        Matk: addItem.Matk,
                        Madm: addItem.Madm,
                        Tendm: addItem.Tendm,
                        Donvi: addItem.Donvi,
                        Soluong: 1,
                        Dgban: 0,
                        TonTDv1: addItem.TonTDv1,
                        PtChietkhau: 0,
                        PtThue: 0,
                        trId: id,
                    }
                    var dmindex = id.substring(2, 10);
                    var isExist = false;
                    for (let i = 0; i < madmItems.length; i++) {
                        if (madmItems[i].trId.substring(2, 10) == dmindex) {
                            isExist = true;
                            dmindex = i;
                            break;
                        }
                    }
                    if (!isExist) {
                        madmItems.push(madmDTO);
                    }
                    else {
                        madmItems[dmindex] = madmDTO;
                    }
                    var numId = id.substring(2, 10);
                    var tr = document.getElementById(id);
                    tr.querySelector('#input-matk-' + numId).value = JSON.parse(decodeURIComponent(item)).Matk;
                    tr.querySelector('#input-madm-' + numId).value = JSON.parse(decodeURIComponent(item)).Madm;
                    tr.querySelector('#input-tendm-' + numId).value = JSON.parse(decodeURIComponent(item)).Tendm;
                    tr.querySelector('#ip-donvi-' + numId).textContent = JSON.parse(decodeURIComponent(item)).Donvi;
                    tr.querySelector('#input-donvi-' + numId).value = JSON.parse(decodeURIComponent(item)).Donvi;
                    tr.querySelector('#input-dongia-' + numId).value = 0;
                    tr.querySelector('#input-soluong-' + numId).value = 1;
                    tr.querySelector('#input-tientong-' + numId).value = 0;
                    tr.querySelector('#input-thanhtien-' + numId).value = 0;
                    tr.querySelector('#input-ck-' + numId).value = 0;
                    tr.querySelector('#input-ck-vnd-' + numId).value = 0;
                    tr.querySelector('#input-thue-' + numId).value = 0;
                    tr.querySelector('#input-thue-vnd-' + numId).value = 0;
                    tr.querySelector('#dongia-' + numId).value = 0;
                    tr.querySelector('#soluong-' + numId).value = 1;
                    tr.querySelector('#ck-' + numId).value = 0;
                    tr.querySelector('#ck-vnd-' + numId).value = 0;
                    tr.querySelector('#thue-' + numId).value = 0;
                    tr.querySelector('#thue-vnd-' + numId).value = 0;
                    loadBill();
                    countTotal();
                }
                function loadBill(){
                }
                var makh = [
                    {
                        Madtpn: "",
                        Tendtpn: "",
                        MsDn: ""
                    }
                ];
                $.ajax({
                    url: '@Url.Action("Get", "Ktdtpns")',
                    type: 'GET',
                    success: function (result) {
                        if (result.data.length > 0) {
                            makh = result.data;
                            for (var i = 0; i < makh.length; i++) {
                                const list = document.getElementById("list-makh-sugg");
                                list.insertAdjacentHTML('beforeend', `
                                                       <tr class="tr-sugg" onclick="makhChooseItem('${encodeURIComponent(JSON.stringify(makh[i]))}')"><td>${makh[i].Madtpn}</td><td>${makh[i].Tendtpn}</td><td>${makh[i].MsDn}</td></tr>
                                                `);
                            }
                        }
                    }
                });
                var makhItems = [];
                function makhChooseItem(item) {
                    makhItems = JSON.parse(decodeURIComponent(item));
                    hide_sugg("list-makh-sugg");
                    document.getElementById('input-makh').value = JSON.parse(decodeURIComponent(item)).Madtpn;
                    document.getElementById('tenkh').value = JSON.parse(decodeURIComponent(item)).Tendtpn;
                    document.getElementById('dc').value = JSON.parse(decodeURIComponent(item)).Diachi;
                    document.getElementById('masodn').value = JSON.parse(decodeURIComponent(item)).MsDn;
                }

                var manv = [
                    {
                        Madtpn: "",
                        Tendtpn: "",
                        MsDn: ""
                    }
                ];
                $.ajax({
                    url: '@Url.Action("Get", "Ktdtpns")',
                    type: 'GET',
                    success: function (result) {
                        if (result.data.length > 0) {
                            manv = result.data;
                            for (var i = 0; i < manv.length; i++) {
                                const list = document.getElementById("list-manv-sugg");
                                list.insertAdjacentHTML('beforeend', `
                                                                       <tr class="tr-sugg" onclick="manvChooseItem('${encodeURIComponent(JSON.stringify(manv[i]))}')"><td>${manv[i].Madtpn}</td><td>${manv[i].Tendtpn}</td><td>${manv[i].MsDn}</td></tr>
                                                                `);
                            }
                        }
                    }
                });
                var manvItems = [];
                function manvChooseItem(item) {
                    manvItems = JSON.parse(decodeURIComponent(item));
                    hide_sugg("list-manv-sugg");
                    document.getElementById('input-manv').value = JSON.parse(decodeURIComponent(item)).Madtpn;
                    document.getElementById('tennv').value = JSON.parse(decodeURIComponent(item)).Tendtpn;
                }


                function hide_sugg(idSugg) {
                    document.getElementById(idSugg).classList.add("d-none");
                }
                document.addEventListener('click', function (event) {
                    for (let i = 0; i < exist.length; i++) {
                        var container = document.getElementById("list-madm-sugg-" + exist[i]);
                        if (!container.contains(event.target) && !container.classList.contains("d-none")) {
                            hide_sugg("list-madm-sugg-" + exist[i]);
                            break;
                        }
                    }
                    if (!document.getElementById("list-makh-sugg").contains(event.target) && !document.getElementById("list-makh-sugg").classList.contains("d-none")) {
                        hide_sugg("list-makh-sugg");
                    }
                    if (!document.getElementById("list-manv-sugg").contains(event.target) && !document.getElementById("list-manv-sugg").classList.contains("d-none")) {
                        hide_sugg("list-manv-sugg");
                    }
                });


                function themDm() {
                    if (madmItems.length == index) {
                        var table = document.getElementById("list-dm");
                        count++;
                        index++;
                        table.insertAdjacentHTML('beforeend', `
                                                         <tr id="tr${count}">
                                                            <td class="t-center td-index">${index}</td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control input-sugg"
                                                                       id="input-madm-${count}"
                                                                       autofocus="autofocus"
                                                                       placeholder="Nhập mặt hàng..."
                                                                       
                                                                       name="ktdmDTOs[${count - 1}].Madm"
                                                                       onkeyup="SearchNow('list-madm-sugg-${count}','input-madm-${count}','list-madm-sugg-${count}')" />
                                                                <div class="table-container">
                                                                    <table id="list-madm-sugg-${count}" class="sugg-container d-none">
                                                                        <tr id="tr-1">
                                                                            <td class="width-120">Mã danh mục</td>
                                                                            <td class="width-250">Tên danh mục</td>
                                                                            <td class="width-90">Số lượng tồn</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                            <td>
                                                            <input type="text" class="form-control" id="input-tendm-${count}" name="ktdmDTOs[${count - 1}].Tendm" readonly />
                                                            <input type="text" class="form-control" id="input-matk-${count}" name="ktdmDTOs[${count - 1}].Matk" hidden readonly /></td>
                                                            <td><div id="ip-donvi-${count}"> </div>
                                                            <input type="text" class="form-control" id="input-donvi-${count}" name="ktdmDTOs[${count - 1}].Donvi" hidden readonly /></td>
                                                            <td>
                                                                <input type="text" class="form-control text-end" id="soluong-${count}" onchange="formatNumber(this.id)" />
                                                                <input type="number" class="form-control" id="input-soluong-${count}" name="ktdmDTOs[${count - 1}].Soluong" min="1" hidden/>
                                                            </td>
                                                           <td>
                                                                <input id="dongia-${count}" type="text" class="form-control text-end" onchange="formatNumber(this.id)" />
                                                                <input type="number" class="form-control" id="input-dongia-${count}" name="ktdmDTOs[${count - 1}].Dgban" min="0"" hidden />
                                                            </td>
                                                            <td>
                                                                <input style="width:100%" type="text" class="form-control text-end" id="input-tientong-${count}" readonly/>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control text-end" id="ck-${count}" min="0" max="100"  onchange="formatNumber(this.id)"/>
                                                                <input type="number" class="form-control" id="input-ck-${count}" name="ktdmDTOs[${count - 1}].PtChietKhau" min="0" max="100" hidden/>
                                                             </td>
                                                            <td>
                                                                <input type="text" class="form-control text-end" id="ck-vnd-${count}" min="0" onchange="lamTron(${count})" />
                                                                <input type="number" class="form-control" id="input-ck-vnd-${count}" name="ktdmDTOs[${count - 1}].ChietKhauThanhTien" min="0" hidden/>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control text-end" id="thue-${count}" min="0" max="100" onchange="formatNumber(this.id)" />  
                                                                <input type="number" class="form-control" id="input-thue-${count}" name="ktdmDTOs[${count - 1}].PtThue" min="0" max="100" hidden/>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control text-end" id="thue-vnd-${count}" min="0" onchange="lamTron(${count})" />
                                                                <input type="number" class="form-control" id="input-thue-vnd-${count}" name="ktdmDTOs[${count - 1}].ThueThanhTien" min="0" hidden/>
                                                            </td>
                                                            <td><input type="text" class="form-control" id="input-thanhtien-${count}" readonly/></td>
                                                            <td class="t-center"><a onClick="xoaDm('tr${count}')" class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td>
                                                        </tr>
                    `);
                        $.ajax({
                            url: '@Url.Action("Get", "Ktdms")',
                            type: 'GET',
                            success: function (result) {
                                if (result.data.length > 0) {
                                    madm = result.data;
                                    for (var i = 0; i < madm.length; i++) {
                                        const list = document.getElementById("list-madm-sugg-" + count);
                                        list.insertAdjacentHTML('beforeend', `
                                                                <tr class="tr-sugg" onclick="madmChooseItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                                `);
                                    }
                                }
                            }
                        });
                        exist.push(count);
                    } else {
                        alert("Hãy chọn mặt hàng trước!");
                    }
                }
                function xoaDm(id) {
                    if (index == 1) themDm();
                    if (madmItems.length != 0) {
                        var tr = document.getElementById(id);
                        for (let i = 0; i < exist.length; i++){
                            if (exist[i] == id.substring(2, 10)) {
                                exist.splice(i, 1);
                            }
                        }
                        for (let i = 0; i < madmItems.length; i++) {
                            if(madmItems[i].trId == id){
                                madmItems.splice(i,1);
                            }
                        }
                        tr.remove();
                        index--;
                        var idList = [];
                        for (let i = 1; i <= index; i++) {
                            idList.push(i);
                        }
                        var tdList = document.getElementsByClassName("td-index");
                        for (let i = 0; i < tdList.length; i++){
                            tdList[i].textContent = idList[i];
                        }
                        countTotal();
                        loadBill();
                    }
                }
                function xoaHet(){
                    var size = madmItems.length;
                    for (let i = 0; i < size; i++){
                        xoaDm(madmItems[0].trId);
                    }
                }
                function Submit() {
                    setTimeout(function (value) {
                        $.ajax({
                            url: '@Url.Action("SubmitCartToExport", "Ktdms")',
                            type: 'POST',
                            data: JSON.stringify(madm),
                            success: function (result) {
                                window.open("http://nibotlehoangphai78wan1.ddnsguru.com/InvoiceReport/HoaDon.pdf", "_blank");
                            }
                        });
                    }, 1000)
                    save().then()
                }
                
                function exportPDF() {
                    var idKh = document.getElementById("input-makh").value ? document.getElementById("input-makh").value : alert("Hãy chọn khách hàng!");
                    var idHt = document.getElementById("ht").value;
                    var idKt = document.getElementById("ht").value;
                    var khs = [
                    ];
                    if (madmItems.length > 0) {
                        for (let i = 0; i < madmItems.length; i++) {
                            var madmDTO = {
                                Matk: madmItems[i].Matk,
                                Madm: madmItems[i].Madm,
                                Tendm: madmItems[i].Tendm,
                                Donvi: madmItems[i].Donvi,
                                Soluong: madmItems[i].Soluong,
                                Dgban: madmItems[i].Dgban,
                                TonTDv1: madmItems[i].TonTDv1,
                            }
                            khs.push(madmDTO);
                        }
                        var myKeyVals = {
                            Makh: idKh,
                            NgayCtu: idKt,
                            NgayHToan: idHt,
                            ktdmDTOs: khs,
                        }
                        $.ajax({
                            url: '@Url.Action("SubmitCartToExport", "Ktdms")',
                            type: 'POST',
                            data: myKeyVals,
                            success: function (result) {
                                window.open("http://nibotlehoangphai78wan1.ddnsguru.com/InvoiceReport/HoaDon.pdf", "_blank");
                            }
                        });
                    } else {
                        alert("Hãy chọn 1 mặt hàng!");
                    }
                }
                function backList() {
                    var btnThem = document.getElementById("themBtn");
                    var btnBack = document.getElementById("backBtn");
                    var navSell = document.getElementById("navSell");
                    var muaData = document.getElementById("mua-data");
                    var form = document.getElementById("myForm");
                    btnThem.classList.remove("d-none");
                    navSell.classList.remove("d-none");
                    navSell.classList.add("navbar-collapse");
                    btnBack.classList.add("d-none");
                    muaData.classList.remove("d-none")
                    form.classList.add("d-none");
                }
                function orderOut() {
                    var btnThem = document.getElementById("themBtn");
                    var btnBack = document.getElementById("backBtn");
                    var navSell = document.getElementById("navSell");
                    var muaData = document.getElementById("mua-data");
                    var form = document.getElementById("myForm");
                    btnThem.classList.add("d-none");
                    navSell.classList.add("d-none"); 
                    navSell.classList.remove("navbar-collapse");
                    btnBack.classList.remove("d-none");
                    muaData.classList.add("d-none")
                    form.classList.remove("d-none");
                }

                function onCkChung() {
                    isCkChung = true;
                    ptCkChung = document.getElementById("ckChung").value
                    for (let i = 0; i < madmItems.length; i++) {
                        var id = madmItems[i].trId;
                        var tr = document.getElementById(id);
                        madmItems[i].PtChietkhau = ptCkChung;
                        document.getElementById("input-ck-" + id.substring(2, 10)).value = ptCkChung;
                        tinhTien(id.substring(2, 10));
                    }
                }
                function edit() {
                    var tr = document.getElementsByClassName("tr-atv");
                    var soct;
                    if (tr.length == 0) {
                        alert("Hãy ấn vào đơn bạn muốn sửa!");
                    } else if (tr.length == 1) {
                        var grid = document.getElementById("data-tb");
                        var row = grid.getElementsByClassName("tr-atv")[0];
                        var id = document.getElementById("ip-id-" + row.id.substring(2, 10)).value;
                        document.getElementById("edit-page").classList.remove("d-none");
                        document.getElementById("edit-page").classList.add("d-relative");
                        if (id != "") {
                            $.ajax({
                                url: '@Url.Action("GetDetailPhieuBanHang", "Ktscs")',
                                type: 'GET',
                                data: {
                                    id: id
                                },
                                success: function (result) {
                                    $("#edit-page").append(result);
                                }
                            });
                        } else {
                            alert("Hãy chọn hàng có dữ liệu muốn sửa!");
                        }
                    } else {
                        alert("Chỉ ấn vào 1 đơn bạn muốn sửa!");
                    }
                }
                function closeEdit() {
                    document.getElementById("edit-page").classList.add("d-none");
                    document.getElementById("edit-page").classList.remove("d-relative");
                    var editPage = document.getElementById("edit-page");
                    var modal = editPage.getElementsByClassName("buy-edit");
                    while (modal.length > 0) {
                        modal[0].parentNode.removeChild(modal[0]);
                    }
                }

                function convert_vi_to_en(str) {
                    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a"); 
                    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                    str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");       str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");     str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                    str = str.replace(/đ/g, "d");               str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
                    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");     str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
                    str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
                    str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");     str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
                    str = str.replace(/Đ/g, "D");
                    return str;
                }

                function xoaOrder() {
                    var tr = document.getElementsByClassName("tr-atv");
                    if (tr.length == 0) {
                        alert("Hãy ấn vào đơn bạn muốn xóa!");
                    } else if (tr.length == 1) {
                        var idTr = tr[0].id;
                        var idXoa = document.getElementById("ip-id-" + idTr.substring(2, 10)).value;
                        if (idXoa != "") {
                            $.ajax({
                                url: '@Url.Action("DeletePhieuBanHang", "Ktscs")',
                                type: 'DELETE',
                                data: {
                                    id: idXoa.toString()
                                },
                                success: function () {
                                    alert("Xóa thành công!");
                                    resetDate();
                                }
                            });
                        } else {
                            alert("Hãy chọn hàng có dữ liệu muốn xóa!");
                        }
                    } else {
                        alert("Chỉ ấn vào 1 đơn bạn muốn xóa!");
                    }
                }
                function inOrder() {
                    if (fil.length == 0) {
                        alert("Hãy chọn mốc thời gian có thông tin!");
                    } else {
                        var regex = new RegExp("&","g");
                        const jsonString = JSON.stringify(fil).replace(regex, " and ")
                            $.ajax({
                            url: '@Url.Action("SubmitCartToExportPhieuBanHang", "Ktdms")',
                            type: 'POST',
                            data: jsonString,
                            success: function () {
                                window.open("http://nibotlehoangphai78wan1.ddnsguru.com/PhieuBanHangReport/PhieuBanHang.pdf", "_blank");
                            }
                            });
                    }
                }

                window.onload = function () {
                    maxWidthTb();
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("date-from").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("max", today);

                    document.getElementById("date-from").onchange = function () {
                        document.getElementById("date-to").setAttribute("min", this.value);
                    }

                }
                var fil = [];
                
                window.addEventListener('resize', function () {
                    maxWidthTb();
                });
                function maxWidthTb() {
                    var nav = document.getElementById("navne");
                    $('#data-tb').css('max-width', nav.offsetWidth + 'px');
                    $('#table-tong').css('max-width', nav.offsetWidth + 'px');
                    $('#tong-phieu').css('max-width', nav.offsetWidth + 'px');
                }
                resetDate();
                function resetDate() {
                    
                    var date = new Date();
                    date.setDate(date.getDate() - 30);
                    var dd = String(date.getDate()).padStart(2, '0');
                    var mm = String(date.getMonth() + 1).padStart(2, '0'); 
                    var yyyy = date.getFullYear();
                    var defaultDate = yyyy + '-' + mm + '-' + dd; 

                    date = new Date();
                    dd = String(date.getDate()).padStart(2, '0');
                    mm = String(date.getMonth() + 1).padStart(2, '0');
                    yyyy = date.getFullYear();
                    var currentDate = yyyy + '-' + mm + '-' + dd;
                    var fromDate = defaultDate;
                    var toDate = currentDate;
                    document.getElementById("date-to").value = "";
                    document.getElementById("date-from").value = "";
                    $.ajax({
                        url: '@Url.Action("GetALLDSPhieuBanHangByDate", "Ktscs")',
                        type: 'GET',
                        data: { fromDate: fromDate, toDate: toDate },
                        success: function (response) {
                            const table = document.getElementById("data-tb");
                            while (table.rows.length > 1) {
                                table.deleteRow(1);
                            }
                            fil = response;
                            var size = fil.length >= 15 ? fil.length : 15;
                            tongData();
                            for (let i = 1; i <= size; i++) {
                                table.insertAdjacentHTML('beforeend', `
                                                    <tr id="t-${i}"  onclick="tractive(this.id)">
                                                        <td>
                                                            <input id="ip-id-${i}" hidden type="number"/> 
                                                            <div id="ngayct-${i}"></div>
                                                        </td>
                                                        <td id="soct-${i}"></td>
                                                        <td id="httt-${i}"></td>
                                                        <td id="thanhtien-${i}" class="text-end"></td>
                                                        <td id="ckpt-${i}" class="text-end"></td>
                                                        <td id="ckVnd-${i}" class="text-end"></td>
                                                        <td id="tongVnd-${i}" class="text-end"></td>
                                                        <td id="khtt-${i}" class="text-end"></td>
                                                        <td id="makh-${i}"></td>
                                                        <td id="tenkh-${i}"></td>
                                                        <td id="msthue-${i}"></td>
                                                        <td id="dc-${i}"></td>
                                                        <td id="gc-${i}"></td>
                                                        <td id="nvban-${i}"></td>
                                                    </tr>
                                               `);
                            }
                            for (let i = 0; i < size; i++) {
                                let ii = i + 1;
                                if (i < fil.length) { 
                                    var date = new Date(fil[i].NgayCtu);
                                    var dateString = date.toISOString().split('T')[0];
                                    var formatDate = dateString.split('-')[2] + '-' + dateString.split('-')[1] + '-' + dateString.split('-')[0];
                                    if (fil[i].id != null) {
                                        document.getElementById("ip-id-" + ii).value = fil[i].id;
                                    } else document.getElementById("ip-id-" + ii).value = "";
                                    document.getElementById("ngayct-" + ii).textContent = fil[i].NgayCtu ? formatDate : "";
                                    document.getElementById("soct-" + ii).textContent = fil[i].Soctu ? fil[i].Soctu : "";
                                    document.getElementById("httt-" + ii).textContent = fil[i].HTThanhToan ? fil[i].HTThanhToan : "";
                                    document.getElementById("thanhtien-" + ii).textContent = fil[i].ThanhTien ? formatFromNumber(fil[i].ThanhTien) : "";
                                    document.getElementById("ckpt-" + ii).textContent = fil[i].ckPhanTram ? fil[i].ckPhanTram : "";
                                    document.getElementById("ckVnd-" + ii).textContent = fil[i].CkThanhTien ? formatFromNumber(fil[i].CkThanhTien) : "";
                                    document.getElementById("tongVnd-" + ii).textContent = fil[i].TongTien ? formatFromNumber(fil[i].TongTien) : "";
                                    document.getElementById("khtt-" + ii).textContent = fil[i].KhTraTien ? formatFromNumber(fil[i].KhTraTien) : "";
                                    document.getElementById("makh-" + ii).textContent = fil[i].MaKh ? fil[i].MaKh : "";
                                    document.getElementById("tenkh-" + ii).textContent = fil[i].TenKh ? fil[i].TenKh : "";
                                    document.getElementById("msthue-" + ii).textContent = fil[i].MsThue ? fil[i].MsThue : "";
                                    document.getElementById("dc-" + ii).textContent = fil[i].Diachi ? fil[i].Diachi : "";
                                    document.getElementById("gc-" + ii).textContent = fil[i].GhiChu ? fil[i].GhiChu : "";
                                    document.getElementById("nvban-" + ii).textContent = fil[i].NhanVienBan ? fil[i].NhanVienBan : "";
                                }
                            }
                        }
                    });
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();
                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("date-from").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("max", today);
                    document.getElementById("date-to").setAttribute("min", "");
                }

                function confirmDate() {
                    var toDate = document.getElementById("date-to").value ? document.getElementById("date-to").value : new Date();
                    try {
                        toDate = new Date(toDate);
                        var monthDate = new Date();
                        monthDate.setDate(toDate.getDate() - 30);
                        var dd = String(toDate.getDate()).padStart(2, '0');
                        var mm = String(toDate.getMonth() + 1).padStart(2, '0'); 
                        var yyyy = toDate.getFullYear();
                        var currentDate = yyyy + '-' + mm + '-' + dd; 
                        toDate = currentDate;

                        var dd = String(monthDate.getDate()).padStart(2, '0');
                        var mm = String(monthDate.getMonth() + 1).padStart(2, '0');
                        var yyyy = monthDate.getFullYear();
                        monthDate = yyyy + '-' + mm + '-' + dd; 
                    } catch (error) {
                        console.error("Error parsing date:", error);
                        
                    }
                    var fromDate = document.getElementById("date-from").value ? document.getElementById("date-from").value : monthDate;
                    
                    $.ajax({
                        url: '@Url.Action("GetALLDSPhieuBanHangByDate", "Ktscs")',
                        type: 'GET',
                        data: { fromDate: fromDate, toDate: toDate },
                        success: function (response) {
                            const table = document.getElementById("data-tb");
                            while (table.rows.length > 1) {
                                table.deleteRow(1);
                            }
                            fil = response;
                            var size = fil.length >= 15 ? fil.length : 15;
                            tongData();
                            for (let i = 1; i <= size; i++) {
                                table.insertAdjacentHTML('beforeend', `
                                                    <tr id="t-${i}"  onclick="tractive(this.id)">
                                                        <td>
                                                            <input id="ip-id-${i}" hidden type="number"/>
                                                            <div id="ngayct-${i}"></div>
                                                        </td>
                                                        <td id="soct-${i}"></td>
                                                        <td id="httt-${i}"></td>
                                                        <td id="thanhtien-${i}" on="formatNumber(this.id)" class="text-end"></td>
                                                        <td id="ckpt-${i}" class="text-end"></td>
                                                        <td id="ckVnd-${i}" class="text-end"></td>
                                                        <td id="tongVnd-${i}" class="text-end"></td>
                                                        <td id="khtt-${i}" class="text-end"></td>
                                                        <td id="makh-${i}"></td>
                                                        <td id="tenkh-${i}"></td>
                                                        <td id="msthue-${i}"></td>
                                                        <td id="dc-${i}"></td>
                                                        <td id="gc-${i}"></td>
                                                        <td id="nvban-${i}"></td>
                                                    </tr>
                                               `);
                            }
                            for (let i = 0; i < size; i++) {
                                let ii = i + 1;
                                if (i < fil.length) {
                                    var date = new Date(fil[i].NgayCtu);
                                    var dateString = date.toISOString().split('T')[0];
                                    var formatDate = dateString.split('-')[2] + '-' + dateString.split('-')[1] + '-' + dateString.split('-')[0];
                                    if (fil[i].id != null) {
                                        document.getElementById("ip-id-" + ii).value = fil[i].id;
                                    } else document.getElementById("ip-id-" + ii).value = "";
                                    document.getElementById("ngayct-" + ii).textContent = fil[i].NgayCtu ? formatDate : "";
                                    document.getElementById("soct-" + ii).textContent = fil[i].Soctu ? fil[i].Soctu : "";
                                    document.getElementById("httt-" + ii).textContent = fil[i].HTThanhToan ? fil[i].HTThanhToan : "";
                                    document.getElementById("thanhtien-" + ii).textContent = fil[i].ThanhTien ? formatFromNumber(fil[i].ThanhTien) : "";
                                    document.getElementById("ckpt-" + ii).textContent = fil[i].ckPhanTram ? fil[i].ckPhanTram : "";
                                    document.getElementById("ckVnd-" + ii).textContent = fil[i].CkThanhTien ? formatFromNumber(fil[i].CkThanhTien) : "";
                                    document.getElementById("tongVnd-" + ii).textContent = fil[i].TongTien ? formatFromNumber(fil[i].TongTien) : "";
                                    document.getElementById("khtt-" + ii).textContent = fil[i].KhTraTien ? formatFromNumber(fil[i].KhTraTien) : "";
                                    document.getElementById("makh-" + ii).textContent = fil[i].MaKh ? fil[i].MaKh : "";
                                    document.getElementById("tenkh-" + ii).textContent = fil[i].TenKh ? fil[i].TenKh : "";
                                    document.getElementById("msthue-" + ii).textContent = fil[i].MsThue ? fil[i].MsThue : "";
                                    document.getElementById("dc-" + ii).textContent = fil[i].Diachi ? fil[i].Diachi : "";
                                    document.getElementById("gc-" + ii).textContent = fil[i].GhiChu ? fil[i].GhiChu : "";
                                    document.getElementById("nvban-" + ii).textContent = fil[i].NhanVienBan ? fil[i].NhanVienBan : "";
                                }
                            }
                        }
                    });
                }

                $(document).ready(function () {
                    $(document).on('contextmenu', 'table tr', function (e) {
                        e.preventDefault();

                        var id = $(this)[0].id;
                        $('#rightMenu').css({
                            top: e.pageY,
                            left: e.pageX,
                        }).show();
                        $('#sua').data('tb', id);
                        $('#xoa').data('tb', id);
                    });
                    $(document).on('click', function (e) {
                        if (!$(e.target).is('table tr')) {
                            $('#rightMenu').hide();
                        }
                    });
                });
                $(document).on('click', '#sua', function (e) {
                    e.preventDefault();
                    var id = $(this).data('tb');
                    var idSua = document.getElementById("ip-id-" + id.substring(2, 10)).value;
                    console.log("dhsia:" + idSua);
                    document.getElementById("edit-page").classList.remove("d-none");
                    document.getElementById("edit-page").classList.add("d-relative");
                    if (idSua != "") {
                        $.ajax({
                            url: '@Url.Action("GetDetailPhieuBanHang", "Ktscs")',
                            type: 'GET',
                            data: {
                                id: idSua
                            },
                            success: function (result) {
                                $("#edit-page").append(result);
                            }
                        });
                    } else {
                        alert("Hãy chọn hàng có dữ liệu muốn sửa!");
                    }
                });

                $(document).on('click', '#xoa', function (e) {
                    e.preventDefault();
                    var id = $(this).data('tb');
                    var idXoa = document.getElementById("ip-id-" + id.substring(2, 10)).value;
                    if (idXoa != "") {
                        $.ajax({
                            url: '@Url.Action("DeletePhieuBanHang", "Ktscs")',
                            type: 'DELETE',
                            data: {
                                id: idXoa
                            },
                            success: function () {
                                alert("Xóa thành công!");
                                resetDate();
                            }
                        });
                    } else {
                        alert("Hãy chọn hàng có dữ liệu muốn xóa!");
                    }
                });

                function fastDate() {
                    var select = document.getElementById("sl-date");
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); 
                    var yyyy = today.getFullYear();
                    if (select.value == 1) {
                        document.getElementById("date-from").value = yyyy + '-' + mm + '-' + dd;
                        document.getElementById("date-to").value = yyyy + '-' + mm + '-' + dd;
                    } else if (select.value == 2) {
                        document.getElementById("date-from").value = yyyy + '-' + mm + '-' + '01';
                        document.getElementById("date-to").value = yyyy + '-' + mm + '-' + dd;
                    }
                    else if (select.value == 3) {
                        document.getElementById("date-from").value = yyyy + '-' + '01' + '-' + '01';
                        document.getElementById("date-to").value = yyyy + '-' + mm + '-' + dd;
                    }
                    confirmDate();
                }
                function getLastNumber(str) {
                    const match = str.match(/\d+$/);
                    if (match) {
                        return parseInt(match[0]);
                    } else {
                        return null;
                    }
                }
                function formatNumber(id) {
                    var number = document.getElementById(id);
                    var formattedNumber = new Intl.NumberFormat('en-US').format(number.value);
                    if (formattedNumber == "NaN") {
                        number.value = 0;
                        formattedNumber = Intl.NumberFormat('en-US').format(0);
                    }
                    id = getLastNumber(id);
                    setTextToNum(id);
                    tinhTien(id);
                    var formattedNumber = new Intl.NumberFormat('en-US').format(number.value);
                    if (formattedNumber == "NaN") formattedNumber = Intl.NumberFormat('en-US').format(0);
                    number.value = formattedNumber;
                    setNumToText(id);
                }
                function formatFromNumber(int) {
                    var formattedNumber = new Intl.NumberFormat('en-US').format(int);
                    if (formattedNumber == "NaN") formattedNumber = 0;
                    return formattedNumber;
                }

                function convertNumToText(numberString) {
                    var cleanedNumberString = numberString.replace(/,/g, '');
                    if (numberString == "NaN") cleanedNumberString = 0;
                    return cleanedNumberString;
                }
                function setTextToNum(id) {
                    document.getElementById("input-dongia-" + id).value = convertNumToText(document.getElementById("dongia-" + id).value);
                    document.getElementById("input-soluong-" + id).value = convertNumToText(document.getElementById("soluong-" + id).value);
                    document.getElementById("input-ck-" + id).value = convertNumToText(document.getElementById("ck-" + id).value);
                    document.getElementById("input-ck-vnd-" + id).value = convertNumToText(document.getElementById("ck-vnd-" + id).value);
                    document.getElementById("input-thue-" + id).value = convertNumToText(document.getElementById("thue-" + id).value);
                    document.getElementById("input-thue-vnd-" + id).value = convertNumToText(document.getElementById("thue-vnd-" + id).value);
                }
                function setNumToText(id) {
                    document.getElementById("dongia-" + id).value = formatFromNumber(document.getElementById("input-dongia-" + id).value);
                    document.getElementById("soluong-" + id).value = formatFromNumber(document.getElementById("input-soluong-" + id).value);
                    document.getElementById("ck-" + id).value = formatFromNumber(document.getElementById("input-ck-" + id).value);
                    document.getElementById("ck-vnd-" + id).value = formatFromNumber(document.getElementById("input-ck-vnd-" + id).value);
                    document.getElementById("thue-" + id).value = formatFromNumber(document.getElementById("input-thue-" + id).value);
                    document.getElementById("thue-vnd-" + id).value = formatFromNumber(document.getElementById("input-thue-vnd-" + id).value);
                }

                function countTotal() {
                    var tth = 0, tck = 0, tthue = 0, tthanhtien = 0;
                    for (let i = 0; i < exist.length; i++) {
                        tth += parseInt(document.getElementById("input-soluong-" + exist[i]).value) * parseInt(document.getElementById("input-dongia-" + exist[i]).value);
                        tck += parseInt(document.getElementById("input-ck-vnd-" + exist[i]).value);
                        tthue += parseInt(document.getElementById("input-thue-vnd-" + exist[i]).value);
                        tthanhtien += parseInt(convertNumToText(document.getElementById("input-thanhtien-" + exist[i]).value));
                    }
                    document.getElementById("tong-hang").textContent = formatFromNumber(tth);
                    document.getElementById("tong-ck").textContent = formatFromNumber(tck);
                    document.getElementById("tong-thue").textContent = formatFromNumber(tthue);
                    document.getElementById("tong-thanh-tien").textContent = formatFromNumber(tthanhtien);
                }

                function tractive(id) {
                    if (document.getElementById(id).classList.contains("tr-atv")) {
                        document.getElementById(id).classList.remove("tr-atv");
                    } else {
                        var tr = document.getElementsByClassName("tr-atv");
                        for (let i = 0; i < tr.length; i++) {
                            tr[i].classList.remove("tr-atv");
                        }
                        document.getElementById(id).classList.add("tr-atv");
                    }
                }
                $.ajax({
                    url: '@Url.Action("GetSoHoaDon", "Ktscs")',
                    type: 'GET',
                    success: function (result) {
                        $("#sohd").val(`0000${result}`);
                    }
                });

                document.getElementById('list-dm').onkeypress = function (e) {
                    exist.forEach(num => {
                        input = document.getElementById("soluong-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("dongia-" + num);
                                inputTo.focus();
                            }
                        });
                        var input = document.getElementById("dongia-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("input-tientong-" + num);
                                inputTo.focus();
                            }
                        });
                        input = document.getElementById("input-tientong-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("ck-" + num);
                                inputTo.focus();
                            }
                        });
                        input = document.getElementById("ck-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("ck-vnd-" + num);
                                inputTo.focus();
                            }
                        });
                        input = document.getElementById("ck-vnd-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("thue-" + num);
                                inputTo.focus();
                            }
                        });
                        input = document.getElementById("thue-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("thue-vnd-" + num);
                                inputTo.focus();
                            }
                        });
                        input = document.getElementById("thue-vnd-" + num);
                        input.addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                var inputTo = document.getElementById("input-thanhtien-" + num);
                                inputTo.focus();
                            }
                        });
                    });
                }

            </script>
        </div>
    </div>
</div>  
   


